<a href="https://colab.research.google.com/github/claudioalvesmonteiro/machinelearning-CNPJ/blob/master/pre-processamento/Extracao_e_Pre_Processamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

   # Projeto de Análise de Cŕedito CESAR School
   
   ## Extração de Dados e Pré-processamento
   
   Claudio Alves Monteiro
   
   Marcos Antonio Almeida Souto Júnior
   
   Virgínia Heimann
   
   Kayo Renato da Silva Nascimento
   
   Rosely Cabral

## Configurar SPARK

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://mirror.nbtelecom.com.br/apache/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz
!tar xf spark-2.4.3-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.3-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
# import modules
import os
import pandas as pd
from pyspark.sql import functions as SF
import pyspark.sql.types as ST

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
# import data
path = 'drive/My Drive/Colab Notebooks/ProjetoCESARSchool/codes/data/'

df = spark.read.csv(path+'jur.csv',
                    sep='\t',
                    encoding='utf-8',
                    header=True,
                    inferSchema=False)


df_cursor = spark.read.csv(path+'Base_Des-TRN',
                    sep='\t',
                    encoding='utf-8',
                    header=True,
                    inferSchema=False)

In [0]:
# funcao para contagem de valores categoricos
def countGenTab(df, column):
    # groupby, count and sort pyspark
    tab = df.select(column).groupby(column).count().alias('count').sort('count', ascending=False)
    # transform to pandas df
    tab = tab.toPandas()
    # calculate proportion
    tab['prop'] = round(tab['count']/sum(tab['count'])*100, 2)
    return tab
  
  
countGenTab(df_cursor, 'CS_ALVO')

  CS_ALVO  count   prop
0       0  57856  88.64
1       1   7418  11.36

In [0]:
clientes = df_cursor.count()
clientes

65274

In [0]:
taxa_inad = df_cursor.where(SF.col('CS_ALVO')==1).count()/clientes*100
taxa_inad

11.364402365413488

## Tratamento de Dados

In [0]:
#------ tratar inicio do CNPJ sem o 0

@SF.udf('string')
def fill_cnpj(value):
    aux = '00000000000000'+value
    return aux[len(value):]

#------ tratar inicio do CEP sem o 0

@SF.udf('string')
def fill_cep(value):
    aux = '00000000'+value
    return aux[len(value):]

In [0]:
df_cursor = df_cursor.withColumn('CNPJ',fill_cnpj('CNPJ'))
df = df.withColumn('CNPJ',fill_cnpj('CNPJ'))
df = df.withColumn('CEP',fill_cep('CEP'))

In [0]:
#------ Convertendo REF_DATE do df_cursor para timestamp

df_cursor = df_cursor.withColumn('REF_DATE',SF.from_unixtime(
            SF.unix_timestamp('DATA_REF','yyyy-MM')).cast('timestamp'))

#------ Convertendo REF_DATE do df para timestamp

df = df.withColumn('REF_DATE',SF.col('REF_DATE').cast('timestamp'))

In [0]:
# renomear colunas

df = df.withColumnRenamed('CNPJ','CNPJ_DF').withColumnRenamed('REF_DATE','REF_DATE_DF')

In [0]:
#------ Criando o df_base. O df_base é construido a partir do cursor. Todas as entradas do cursor sao preservadas 
# e e feito um join com as entradas do df que correspondem à condição dupla: mesmo "CNPJ" e "Data de Referencia" do df
# anterior a "Data de Referencia" do cursor  

df_base = df_cursor.join(df,
                 (df_cursor['CNPJ']==df['CNPJ_DF']) & 
                 (df_cursor['REF_DATE'] >= df['REF_DATE_DF']),
                 'left')

## 1. Quantidade de Sócios

In [0]:
df_aux = df_base.select('CNPJ','REF_DATE','NOME_SOCIO').dropDuplicates().\
            groupBy('CNPJ','REF_DATE').agg(SF.count('NOME_SOCIO').alias('QTD_SOCIOS')).sort(SF.desc('QTD_SOCIOS'))

In [0]:
df_final = df_cursor.join(df_aux, ['CNPJ','REF_DATE'], 'left')

## 2. Natureza Jurídica

In [0]:
df_aux = df_base.select('CNPJ','REF_DATE','NATUREZA_JURIDICA').dropDuplicates()

In [0]:
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )

## 3. Idade da Empresa

In [0]:
# aqui estamos incluindo a idade em segundos (como no final vamos precisar normalizar, não faz diferença)
df_aux = df_base.select('CNPJ','REF_DATE','ABERTURA').dropDuplicates()
df_aux = df_aux.withColumn('ABERTURA',SF.col('ABERTURA').cast('timestamp'))
df_aux = df_aux.withColumn('IDADE',SF.col('REF_DATE').cast("long")-SF.col('ABERTURA').cast("long")).drop('ABERTURA')

In [0]:
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )

## 4. Capital Social

In [0]:
df_aux = df_base.select('CNPJ','REF_DATE','CAPITAL_SOCIAL').dropDuplicates()

In [0]:
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )

## 5. Tipo (Matriz ou Filial)

In [0]:
df_aux = df_base.select('CNPJ','REF_DATE','TIPO').dropDuplicates()
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )

## 6. Situação

In [0]:
df_aux = df_base.select('CNPJ','REF_DATE','SITUACAO').dropDuplicates().\
            groupBy('CNPJ','SITUACAO').agg(SF.max('REF_DATE').alias('REF_DATE'))

In [0]:
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )

## 7. Atividade Principal

In [0]:
df_aux = df_base.select('CNPJ','REF_DATE','ATIVIDADE_PRINCIPAL').dropDuplicates()
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )

## 8 e 9. Unidade Federativa e Município

In [0]:
df_final = df_final.drop('UF','MUNICIPIO')

In [0]:
# import data

df_ddd = spark.read.csv(path+'externos/DDD-Cidade-Estado.csv',
                    sep=';',
                    encoding='latin1',
                    header=True,
                    inferSchema=False)

In [0]:
#------ remove_acentos
from unicodedata import normalize
  
def remover_acentos(txt):
    if txt is None: 
      return ""
    else:
      return normalize('NFKD', txt).encode('ASCII', 'ignore').decode('ASCII')

if __name__ == '__main__':
    from doctest import testmod
    testmod()
    
#------ tratar nomes de cidades

@SF.udf('string')
def trata_municipio(value, UF):
    if value == 'AMPARO DA SERRA':
      return 'AMPARO DO SERRA'
    if value == 'ASSU':
      return 'ACU'
    if value == 'BALNEARIO DE PICARRAS':
      return 'BALNEARIO PICARRAS'
    if value == 'BELEM DE SAO FRANCISCO':
      return 'BELEM DO SAO FRANCISCO'
    if (value == 'BOM JESUS')&(UF=='GO'):
      return 'BOM JESUS DE GOIAS'
    if value == 'BRASOPOLIS':
      return 'BRAZOPOLIS'
    if (value == 'CAMPO GRANDE')&(UF=='RN'):
      return 'AUGUSTO SEVERO'
    if value == 'DIAS D:AVILA':
      return "DIAS D'AVILA"
    if value == 'DONA EUZEBIA':
      return "DONA EUSEBIA"
    if value == 'ELDORADO DOS CARAJAS':
      return "ELDORADO DO CARAJAS"
    if value == 'FLORINEA':
      return "FLORINIA"
    if value == 'MOGI-GUACU':
      return "MOGI GUACU"
    if value == 'OLHO D:AGUA DAS CUNHAS':
      return "OLHO D'AGUA DAS CUNHAS"
    if value == 'OLHO D:AGUA DAS FLORES':
      return "OLHO D'AGUA DAS FLORES"
    if value == 'SAO TOME DAS LETRAS':
      return "SAO THOME DAS LETRAS"
    if value == 'SANTA ISABEL DO PARA':
      return "SANTA IZABEL DO PARA"
    if value == 'SAO LUIZ DO PARAITINGA':
      return "SAO LUIS DO PARAITINGA"
    if value == 'SANTANA DO LIVRAMENTO':
      return "SANT'ANA DO LIVRAMENTO"
    if value == "PINGO D'AGUA":
      return "PINGO-D'AGUA"
    if value == "POXOREO":
      return "POXOREU"
    if value == "SANTA BARBARA D:OESTE":
      return "SANTA BARBARA D'OESTE"
    return value 
  
@SF.udf('string')
def codigo_area(TELEFONE):
  if TELEFONE is None: 
    return ""
  else:
    return (TELEFONE[1]+TELEFONE[2])

In [0]:
df_aux = df_base.select('CNPJ','REF_DATE','UF','MUNICIPIO','TELEFONE_1').dropDuplicates()

In [0]:
df_aux = df_aux.withColumn('UF_TEL', codigo_area(SF.col('TELEFONE_1')))

In [0]:
df_aux = df_aux.join(df_ddd, df_ddd['CODIGO']==df_aux['UF_TEL'], 'left')

In [0]:
df_aux = df_aux.toPandas()
df_aux['CIDADE'] = df_aux['CIDADE'].apply(lambda x: remover_acentos(x).upper())
df_aux = spark.createDataFrame(df_aux)

In [0]:
df_aux.show(10, False)

+--------------+-------------------+---+------------------+--------------+------+------+---------+------+
|CNPJ          |REF_DATE           |UF |MUNICIPIO         |TELEFONE_1    |UF_TEL|CODIGO|CIDADE   |ESTADO|
+--------------+-------------------+---+------------------+--------------+------+------+---------+------+
|00231887000129|2017-05-01 00:00:00|BA |FEIRA DE SANTANA  |null          |      |null  |         |null  |
|00256837000104|2017-01-01 00:00:00|SP |FRANCA            |null          |      |null  |         |null  |
|00501368000133|2016-09-01 00:00:00|SP |JUNDIAI           |null          |      |null  |         |null  |
|00560191000146|2017-01-01 00:00:00|SP |SAO PAULO         |(11) 2288-1105|11    |11    |SAO PAULO|SP    |
|00642972000180|2017-06-01 00:00:00|RJ |RIO DE JANEIRO    |null          |      |null  |         |null  |
|00663069000103|2016-07-01 00:00:00|SP |SAO CAETANO DO SUL|null          |      |null  |         |null  |
|00691020000156|2017-05-01 00:00:00|PE |RECIFE            |null          |      |null  |         |null  |
|00701583000188|2016-12-01 00:00:00|ES |VITORIA           |(27) 3223-8607|27    |27    |VITORIA  |ES    |
|00931390000113|2016-07-01 00:00:00|MG |BELO HORIZONTE    |null          |      |null  |         |null  |
|01276895000154|2017-03-01 00:00:00|SP |SAO PAULO         |null          |      |null  |         |null  |
+--------------+-------------------+---+------------------+--------------+------+------+---------+------+
only showing top 10 rows

In [0]:
df_aux = df_aux.withColumn('UF', SF.when(SF.col("UF").isNull(), SF.col('ESTADO')).otherwise(SF.col('UF')))
df_aux = df_aux.withColumn('MUNICIPIO', SF.when(SF.col("MUNICIPIO").isNull(), SF.col('CIDADE')).otherwise(SF.col('MUNICIPIO')))

In [0]:
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' ).drop('CIDADE','ESTADO','TELEFONE_1','UF_TEL','CODIGO')

In [0]:
df_final = df_final.withColumn('MUNICIPIO', trata_municipio(SF.col('MUNICIPIO'), SF.col('UF')))

## 10. População do Município

In [0]:
# import data

df_municipio = spark.read.csv(path+'externos/municipio_minilake.csv',
                    encoding='UTF-8',
                    header=True,
                    inferSchema=True)

df_municipio.show(5)

+----------+---+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+--------------------+---------+
|code_muni2| UF|code_muni|dist_capital|area_municipio|taxa_atividade_18anosmais|porcent_pop_saneamento|porcent_mulheres10a17_filhos|mortalidade_infantil| IDHM|IDHM_renda|taxa_analfabetismo|porcent_pobres|municipio_metropolitano|      municipio_nome|populacao|
+----------+---+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+--------------------+---------+
|   1100015| RO|   110001|      409.34|      7067.025|                    60.43|                  80.2|                         2.6|                23.8|0.641|     0.657|              1.22|         26.04|                      0|Alta Floresta D'O...|    25506|
|   1100023| RO|   110002|       159.2|      4426.571|                    71.08|                 85.35|                        3.38|                19.2|0.702|     0.716|              1.55|         11.54|                      0|           Ariquemes|   105896|
|   1100031| RO|   110003|      640.97|      1314.353|                     61.5|                 91.63|                        2.73|                24.8| 0.65|      0.65|              0.62|          21.2|                      0|              Cabixi|     6289|
|   1100049| RO|   110004|      401.01|      3792.948|                    68.65|                 93.44|                        2.68|                14.3|0.718|     0.727|              1.01|         13.08|                      0|              Cacoal|    87877|
|   1100056| RO|   110005|      596.81|        2783.3|                     69.0|                 86.87|                        0.69|                18.1|0.692|     0.688|              1.14|          13.7|                      0|          Cerejeiras|    17959|
+----------+---+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+--------------------+---------+
only showing top 5 rows

In [0]:
df_aux = df_municipio

df_final.show(5)

+--------------+-------------------+--------+-------+----------+--------------------+---------+--------------+------+--------+--------------------+---+--------------+
|          CNPJ|           REF_DATE|DATA_REF|CS_ALVO|QTD_SOCIOS|   NATUREZA_JURIDICA|    IDADE|CAPITAL_SOCIAL|  TIPO|SITUACAO| ATIVIDADE_PRINCIPAL| UF|     MUNICIPIO|
+--------------+-------------------+--------+-------+----------+--------------------+---------+--------------+------+--------+--------------------+---+--------------+
|00135548000149|2017-03-01 00:00:00| 2017-03|      0|         2|SOCIEDADE EMPRESA...|712281600|           0.0|MATRIZ|   ATIVA|LANCHONETES, CASA...| PR|      CURITIBA|
|00144781000198|2016-12-01 00:00:00| 2016-12|      0|         2|SOCIEDADE EMPRESA...|705369600|         500.0|MATRIZ|   ATIVA|RESTAURANTES E SI...| SP|         BAURU|
|00234446000180|2016-11-01 00:00:00| 2016-11|      0|         2|SOCIEDADE EMPRESA...|696643200|        3000.0|MATRIZ|   ATIVA|LANCHONETES, CASA...| SP|     SAO PAULO|
|00245334000125|2017-06-01 00:00:00| 2017-06|      0|         2|SOCIEDADE EMPRESA...|713836800|           0.0|MATRIZ|   ATIVA|PADARIA E CONFEIT...| MG|BELO HORIZONTE|
|00300200000160|2017-05-01 00:00:00| 2017-05|      0|         2|SOCIEDADE EMPRESA...|708652800|       10000.0|MATRIZ|   ATIVA|COMERCIO VAREJIST...| SP|     SAO PAULO|
+--------------+-------------------+--------+-------+----------+--------------------+---------+--------------+------+--------+--------------------+---+--------------+
only showing top 5 rows

In [0]:
df_aux = df_aux.toPandas()
df_aux['municipio_nome'] = df_aux['municipio_nome'].apply(lambda x: remover_acentos(x).upper())
df_aux = spark.createDataFrame(df_aux)
df_aux.show(10, False)

+----------+---+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+---------------------+---------+
|code_muni2|UF |code_muni|dist_capital|area_municipio|taxa_atividade_18anosmais|porcent_pop_saneamento|porcent_mulheres10a17_filhos|mortalidade_infantil|IDHM |IDHM_renda|taxa_analfabetismo|porcent_pobres|municipio_metropolitano|municipio_nome       |populacao|
+----------+---+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+---------------------+---------+
|1100015   |RO |110001   |409.34      |7067.025      |60.43                    |80.2                  |2.6                         |23.8                |0.641|0.657     |1.22              |26.04         |0                      |ALTA FLORESTA D'OESTE|25506    |
|1100023   |RO |110002   |159.2       |4426.571      |71.08                    |85.35                 |3.38                        |19.2                |0.702|0.716     |1.55              |11.54         |0                      |ARIQUEMES            |105896   |
|1100031   |RO |110003   |640.97      |1314.353      |61.5                     |91.63                 |2.73                        |24.8                |0.65 |0.65      |0.62              |21.2          |0                      |CABIXI               |6289     |
|1100049   |RO |110004   |401.01      |3792.948      |68.65                    |93.44                 |2.68                        |14.3                |0.718|0.727     |1.01              |13.08         |0                      |CACOAL               |87877    |
|1100056   |RO |110005   |596.81      |2783.3        |69.0                     |86.87                 |0.69                        |18.1                |0.692|0.688     |1.14              |13.7          |0                      |CEREJEIRAS           |17959    |
|1100064   |RO |110006   |607.58      |1451.061      |63.55                    |93.89                 |4.06                        |16.1                |0.685|0.676     |0.51              |15.76         |0                      |COLORADO DO OESTE    |18639    |
|1100072   |RO |110007   |571.49      |3060.321      |66.17                    |86.43                 |2.27                        |21.9                |0.613|0.63      |1.25              |24.02         |0                      |CORUMBIARA           |8749     |
|1100080   |RO |110008   |411.05      |4987.177      |68.82                    |54.32                 |6.54                        |25.8                |0.611|0.616     |1.48              |30.48         |0                      |COSTA MARQUES        |17031    |
|1100098   |RO |110009   |441.03      |4518.034      |70.92                    |84.71                 |3.8                         |15.4                |0.672|0.691     |2.17              |13.86         |0                      |ESPIGAO D'OESTE      |32712    |
|1100106   |RO |110010   |274.27      |24855.724     |62.55                    |49.32                 |3.71                        |14.8                |0.657|0.663     |2.2               |23.47         |0                      |GUAJARA-MIRIM        |47048    |
+----------+---+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+---------------------+---------+
only showing top 10 rows

In [0]:
df_final = df_final.withColumn('MUNICIPIO_UF', SF.concat(SF.col('MUNICIPIO'), SF.lit(" - "), SF.col('UF')))
df_aux = df_aux.withColumn('municipio_nome_uf', SF.concat(SF.col('municipio_nome'), SF.lit(" - "), SF.col('UF'))).drop('UF')

df_aux.show(20, False)

+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+------------------------+----------+-----------------------------+
|code_muni2|code_muni|dist_capital|area_municipio|taxa_atividade_18anosmais|porcent_pop_saneamento|porcent_mulheres10a17_filhos|mortalidade_infantil|IDHM |IDHM_renda|taxa_analfabetismo|porcent_pobres|municipio_metropolitano|municipio_nome          |populacao |municipio_nome_uf            |
+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+------------------------+----------+-----------------------------+
|1100015   |110001   |409.34      |7067.025      |60.43                    |80.2                  |2.6                         |23.8                |0.641|0.657     |1.22              |26.04         |0                      |ALTA FLORESTA D'OESTE   |25506     |ALTA FLORESTA D'OESTE - RO   |
|1100023   |110002   |159.2       |4426.571      |71.08                    |85.35                 |3.38                        |19.2                |0.702|0.716     |1.55              |11.54         |0                      |ARIQUEMES               |105896    |ARIQUEMES - RO               |
|1100031   |110003   |640.97      |1314.353      |61.5                     |91.63                 |2.73                        |24.8                |0.65 |0.65      |0.62              |21.2          |0                      |CABIXI                  |6289      |CABIXI - RO                  |
|1100049   |110004   |401.01      |3792.948      |68.65                    |93.44                 |2.68                        |14.3                |0.718|0.727     |1.01              |13.08         |0                      |CACOAL                  |87877     |CACOAL - RO                  |
|1100056   |110005   |596.81      |2783.3        |69.0                     |86.87                 |0.69                        |18.1                |0.692|0.688     |1.14              |13.7          |0                      |CEREJEIRAS              |17959     |CEREJEIRAS - RO              |
|1100064   |110006   |607.58      |1451.061      |63.55                    |93.89                 |4.06                        |16.1                |0.685|0.676     |0.51              |15.76         |0                      |COLORADO DO OESTE       |18639     |COLORADO DO OESTE - RO       |
|1100072   |110007   |571.49      |3060.321      |66.17                    |86.43                 |2.27                        |21.9                |0.613|0.63      |1.25              |24.02         |0                      |CORUMBIARA              |8749      |CORUMBIARA - RO              |
|1100080   |110008   |411.05      |4987.177      |68.82                    |54.32                 |6.54                        |25.8                |0.611|0.616     |1.48              |30.48         |0                      |COSTA MARQUES           |17031     |COSTA MARQUES - RO           |
|1100098   |110009   |441.03      |4518.034      |70.92                    |84.71                 |3.8                         |15.4                |0.672|0.691     |2.17              |13.86         |0                      |ESPIGAO D'OESTE         |32712     |ESPIGAO D'OESTE - RO         |
|1100106   |110010   |274.27      |24855.724     |62.55                    |49.32                 |3.71                        |14.8                |0.657|0.663     |2.2               |23.47         |0                      |GUAJARA-MIRIM           |47048     |GUAJARA-MIRIM - RO           |
|1100114   |110011   |244.19      |2944.128      |66.43                    |82.81                 |3.21                        |14.6                |0.689|0.687     |1.66              |13.78         |0                      |JARU                    |55806     |JARU - RO                    |
|1100122   |110012   |318.87      |6896.648      |71.41                    |89.31                 |2.2                         |16.2                |0.714|0.728     |1.35              |8.56          |0                      |JI-PARANA               |131560    |JI-PARANA - RO               |
|1100130   |110013   |224.34      |8509.27       |69.2                     |69.34                 |4.47                        |25.0                |0.596|0.629     |1.68              |28.55         |0                      |MACHADINHO D'OESTE      |37899     |MACHADINHO D'OESTE - RO      |
|1100148   |110014   |371.71      |1703.008      |68.21                    |74.6                  |2.34                        |23.8                |0.643|0.664     |0.78              |23.16         |0                      |NOVA BRASILANDIA D'OESTE|21670     |NOVA BRASILANDIA D'OESTE - RO|
|1100155   |110015   |283.09      |1969.85       |69.27                    |91.58                 |2.54                        |16.3                |0.682|0.687     |1.31              |11.73         |0                      |OURO PRETO DO OESTE     |39840     |OURO PRETO DO OESTE - RO     |
|1100189   |110018   |439.05      |6240.932      |74.76                    |91.07                 |3.19                        |17.6                |0.71 |0.726     |0.96              |9.33          |0                      |PIMENTA BUENO           |37786     |PIMENTA BUENO - RO           |
|1100205   |110020   |0.0         |34090.926     |70.84                    |72.14                 |3.75                        |15.52               |0.736|0.764     |1.85              |7.95          |0                      |PORTO VELHO             |511.219(1)|PORTO VELHO - RO             |
|1100254   |110025   |346.65      |1758.465      |68.69                    |85.3                  |3.52                        |19.2                |0.664|0.671     |1.68              |19.39         |0                      |PRESIDENTE MEDICI       |22337     |PRESIDENTE MEDICI - RO       |
|1100262   |110026   |152.11      |1717.64       |58.85                    |83.94                 |2.61                        |16.2                |0.643|0.637     |0.35              |28.5          |0                      |RIO CRESPO              |3790      |RIO CRESPO - RO              |
|1100288   |110028   |404.03      |1457.888      |68.22                    |93.72                 |3.3                         |16.9                |0.7  |0.709     |1.39              |10.77         |0                      |ROLIM DE MOURA          |56664     |ROLIM DE MOURA - RO          |
+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+------------------------+----------+-----------------------------+
only showing top 20 rows

In [0]:
df_aux.where(df_aux.municipio_nome_uf == "ARAGARCAS - GO").show()

+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+--------------+---------+-----------------+
|code_muni2|code_muni|dist_capital|area_municipio|taxa_atividade_18anosmais|porcent_pop_saneamento|porcent_mulheres10a17_filhos|mortalidade_infantil| IDHM|IDHM_renda|taxa_analfabetismo|porcent_pobres|municipio_metropolitano|municipio_nome|populacao|municipio_nome_uf|
+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+--------------+---------+-----------------+
|   5201702|   520170|      331.45|        662.89|                    64.86|                 91.95|                        4.58|                13.4|0.732|     0.694|              1.51|           7.5|                      0|     ARAGARCAS|    19736|   ARAGARCAS - GO|
+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+--------------+---------+-----------------+

In [0]:
df_finalx = df_final.join(df_aux,
                 df_final['MUNICIPIO_UF']==df_aux['municipio_nome_uf'], 
                 'left')

df_finalx.show(5)

+--------------+-------------------+--------+-------+----------+--------------------+---------+--------------+------+--------+--------------------+---+-----------+----------------+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+--------------+---------+-----------------+
|          CNPJ|           REF_DATE|DATA_REF|CS_ALVO|QTD_SOCIOS|   NATUREZA_JURIDICA|    IDADE|CAPITAL_SOCIAL|  TIPO|SITUACAO| ATIVIDADE_PRINCIPAL| UF|  MUNICIPIO|    MUNICIPIO_UF|code_muni2|code_muni|dist_capital|area_municipio|taxa_atividade_18anosmais|porcent_pop_saneamento|porcent_mulheres10a17_filhos|mortalidade_infantil| IDHM|IDHM_renda|taxa_analfabetismo|porcent_pobres|municipio_metropolitano|municipio_nome|populacao|municipio_nome_uf|
+--------------+-------------------+--------+-------+----------+--------------------+---------+--------------+------+--------+--------------------+---+-----------+----------------+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+--------------+---------+-----------------+
|02868587000180|2017-03-01 00:00:00| 2017-03|      0|         2|SOCIEDADE EMPRESA...|577411200|       10000.0|MATRIZ|   ATIVA|COMERCIO VAREJIST...| SP|   ALAMBARI|   ALAMBARI - SP|   3500758|   350075|      128.74|         159.6|                    64.65|                 99.12|                        0.98|                17.5|0.712|     0.682|              1.31|          7.61|                      0|      ALAMBARI|     5658|    ALAMBARI - SP|
|02491531000150|2016-12-01 00:00:00| 2016-12|      0|         0|EMPRESARIO (INDIV...|587174400|           0.0|MATRIZ|   ATIVA|COMERCIO VAREJIST...| GO|  ARAGARCAS|  ARAGARCAS - GO|   5201702|   520170|      331.45|        662.89|                    64.86|                 91.95|                        4.58|                13.4|0.732|     0.694|              1.51|           7.5|                      0|     ARAGARCAS|    19736|   ARAGARCAS - GO|
|08220891000101|2016-12-01 00:00:00| 2016-12|      0|         2|SOCIEDADE EMPRESA...|325036800|    1380845.94|MATRIZ|   ATIVA|COMERCIO VAREJIST...| GO|  ARAGARCAS|  ARAGARCAS - GO|   5201702|   520170|      331.45|        662.89|                    64.86|                 91.95|                        4.58|                13.4|0.732|     0.694|              1.51|           7.5|                      0|     ARAGARCAS|    19736|   ARAGARCAS - GO|
|16366044000170|2017-05-01 00:00:00| 2017-05|      0|         2|SOCIEDADE EMPRESA...|152928000|       50000.0|MATRIZ|   ATIVA|RESTAURANTES E SI...| GO|  ARAGARCAS|  ARAGARCAS - GO|   5201702|   520170|      331.45|        662.89|                    64.86|                 91.95|                        4.58|                13.4|0.732|     0.694|              1.51|           7.5|                      0|     ARAGARCAS|    19736|   ARAGARCAS - GO|
|04153160000121|2017-04-01 00:00:00| 2017-04|      0|         0|EMPRESARIO (INDIV...|530496000|           0.0|MATRIZ|   ATIVA|COMERCIO VAREJIST...| RS|ARVOREZINHA|ARVOREZINHA - RS|   4301404|   430140|      158.23|       271.643|                     73.7|                  97.5|                        2.27|                14.1|0.694|     0.713|              1.84|          7.09|                      0|   ARVOREZINHA|    10605| ARVOREZINHA - RS|
+--------------+-------------------+--------+-------+----------+--------------------+---------+--------------+------+--------+--------------------+---+-----------+----------------+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+-----+----------+------------------+--------------+-----------------------+--------------+---------+-----------------+
only showing top 5 rows

In [0]:
df_finalx = df_finalx.filter(df_finalx.porcent_pop_saneamento.isNotNull())
df_finalx = df_finalx.filter(df_finalx.populacao.isNotNull())

df_finalx.count()

64912

In [0]:
df_output = df_finalx.toPandas()
df_output.to_csv(path+'output5.csv')