<a href="https://colab.research.google.com/github/claudioalvesmonteiro/machinelearning-CNPJ/blob/master/pre-processamento/FEATURE_ENGINEERING_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

   # Projeto de Análise de Cŕedito CESAR School
   
   ## Feature Engineering
   
   Claudio Alves Monteiro
   
   Marcos Antonio Almeida Souto Júnior
   
   Virgínia Heimann
   
   Kayo Renato da Silva Nascimento
   
   Rosely Cabral

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://mirror.nbtelecom.com.br/apache/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz
!tar xf spark-2.4.3-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.3-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
# import modules
import os
import pandas as pd
from pyspark.sql import functions as SF
import pyspark.sql.types as ST

In [0]:
# funcao para contagem de valores categoricos
def countGenTab(df, column):
    # groupby, count and sort pyspark
    tab = df.select(column).groupby(column).count().alias('count').sort('count', ascending=False)
    # transform to pandas df
    tab = tab.toPandas()
    # calculate proportion
    tab['prop'] = round(tab['count']/sum(tab['count'])*100, 2)
    return tab

## Tratamento

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
# import data
path = 'drive/My Drive/Colab Notebooks/ProjetoCESARSchool/codes/data/'

df = spark.read.csv(path+'output5.csv',
                    sep=',',
                    encoding='utf-8',
                    header=True,
                    inferSchema=False)

### Contagem e drop de nulos

In [0]:
df.count()

64912

In [0]:
from pyspark.sql.functions import isnan, when, count, col


df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()


df = df.na.drop()

+---+----+--------+--------+-------+----------+-----------------+-----+--------------+----+--------+-------------------+---+---------+------------+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+----+----------+------------------+--------------+-----------------------+--------------+---------+-----------------+
|_c0|CNPJ|REF_DATE|DATA_REF|CS_ALVO|QTD_SOCIOS|NATUREZA_JURIDICA|IDADE|CAPITAL_SOCIAL|TIPO|SITUACAO|ATIVIDADE_PRINCIPAL| UF|MUNICIPIO|MUNICIPIO_UF|code_muni2|code_muni|dist_capital|area_municipio|taxa_atividade_18anosmais|porcent_pop_saneamento|porcent_mulheres10a17_filhos|mortalidade_infantil|IDHM|IDHM_renda|taxa_analfabetismo|porcent_pobres|municipio_metropolitano|municipio_nome|populacao|municipio_nome_uf|
+---+----+--------+--------+-------+----------+-----------------+-----+--------------+----+--------+-------------------+---+---------+------------+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+----+----------+------------------+--------------+-----------------------+--------------+---------+-----------------+
|  0|   0|       0|       0|      0|         0|                0|    0|             0|   0|       0|                  0|  0|        0|           0|         0|        0|           0|             0|                        0|                     0|                           0|                   0|   0|         0|                 0|             0|                      0|             0|        0|                0|
+---+----+--------+--------+-------+----------+-----------------+-----+--------------+----+--------+-------------------+---+---------+------------+----------+---------+------------+--------------+-------------------------+----------------------+----------------------------+--------------------+----+----------+------------------+--------------+-----------------------+--------------+---------+-----------------+

In [0]:
df.count()

64912

In [0]:
df.where(SF.col('populacao') != 'NaN').count()

64912

In [0]:
# NORMALIZAÇÃO DAS VARIÁVEIS NUMÉRICAS


cols = ['IDADE','CAPITAL_SOCIAL','taxa_atividade_18anosmais',
       'porcent_pop_saneamento','dist_capital',
       'area_municipio','taxa_atividade_18anosmais',
       'porcent_pop_saneamento','porcent_mulheres10a17_filhos',
       'mortalidade_infantil','IDHM',
       'IDHM_renda','taxa_analfabetismo',
        'porcent_pobres','populacao']

for col_name in cols:
    df = df.withColumn(col_name, SF.col(col_name).cast('double'))

In [0]:


from sklearn.preprocessing import StandardScaler

df_pandas = df.toPandas()

scaled_features = df_pandas.copy()
col_names = cols
features = scaled_features[col_names]
scaler = StandardScaler().fit(features.values)
features = scaler.transform(features.values)
scaled_features[col_names] = features
#print(scaled_features)

df = spark.createDataFrame(scaled_features)

for col_name in cols:
    df = df.withColumn(col_name, SF.col(col_name).cast('double'))

In [0]:
df.show(20)

+---+--------------+----------+--------+-------+----------+--------------------+--------------------+--------------------+------+--------+--------------------+---+-----------+----------------+----------+---------+-------------------+--------------------+-------------------------+----------------------+----------------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-----------------------+--------------+-------------------+-----------------+
|_c0|          CNPJ|  REF_DATE|DATA_REF|CS_ALVO|QTD_SOCIOS|   NATUREZA_JURIDICA|               IDADE|      CAPITAL_SOCIAL|  TIPO|SITUACAO| ATIVIDADE_PRINCIPAL| UF|  MUNICIPIO|    MUNICIPIO_UF|code_muni2|code_muni|       dist_capital|      area_municipio|taxa_atividade_18anosmais|porcent_pop_saneamento|porcent_mulheres10a17_filhos|mortalidade_infantil|                IDHM|         IDHM_renda|  taxa_analfabetismo|     porcent_pobres|municipio_metropolitano|municipio_nome|          populacao|municipio_nome_uf|
+---+--------------+----------+--------+-------+----------+--------------------+--------------------+--------------------+------+--------+--------------------+---+-----------+----------------+----------+---------+-------------------+--------------------+-------------------------+----------------------+----------------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-----------------------+--------------+-------------------+-----------------+
|  0|02868587000180|2017-03-01| 2017-03|      0|         2|SOCIEDADE EMPRESA...|  0.6251511963767695|-0.01200420058263...|MATRIZ|   ATIVA|COMERCIO VAREJIST...| SP|   ALAMBARI|   ALAMBARI - SP|   3500758|   350075|0.38644715325833306| -0.3164087539072131|      -1.0293593102449354|    0.5411172853797096|          -1.631479447929357|  1.3098659960195367|  -1.184872550714767| -1.444056264519721| -0.3687443765235354|0.10007521135989222|                      0|      ALAMBARI|-0.7353284516940769|    ALAMBARI - SP|
|  1|02491531000150|2016-12-01| 2016-12|      0|         0|EMPRESARIO (INDIV...|   0.653546470713647|-0.01224412806742...|MATRIZ|   ATIVA|COMERCIO VAREJIST...| GO|  ARAGARCAS|  ARAGARCAS - GO|   5201702|   520170| 1.9155890234444521| -0.1778917019123863|      -0.9788621345175631|   -0.4474478773484505|          2.7458129010137866|-0.10483219384613056| -0.7922837392573322|-1.2744513749008086| -0.2043983937110114|0.08486165164616337|                      0|     ARAGARCAS|-0.7322610985817152|   ARAGARCAS - GO|
|  2|08220891000101|2016-12-01| 2016-12|      0|         2|SOCIEDADE EMPRESA...| -0.1088540809508321|0.020886161259077135|MATRIZ|   ATIVA|COMERCIO VAREJIST...| GO|  ARAGARCAS|  ARAGARCAS - GO|   5201702|   520170| 1.9155890234444521| -0.1778917019123863|      -0.9788621345175631|   -0.4474478773484505|          2.7458129010137866|-0.10483219384613056| -0.7922837392573322|-1.2744513749008086| -0.2043983937110114|0.08486165164616337|                      0|     ARAGARCAS|-0.7322610985817152|   ARAGARCAS - GO|
|  3|16366044000170|2017-05-01| 2017-05|      0|         2|SOCIEDADE EMPRESA...| -0.6094150232433971|-0.01104449064347...|MATRIZ|   ATIVA|RESTAURANTES E SI...| GO|  ARAGARCAS|  ARAGARCAS - GO|   5201702|   520170| 1.9155890234444521| -0.1778917019123863|      -0.9788621345175631|   -0.4474478773484505|          2.7458129010137866|-0.10483219384613056| -0.7922837392573322|-1.2744513749008086| -0.2043983937110114|0.08486165164616337|                      0|     ARAGARCAS|-0.7322610985817152|   ARAGARCAS - GO|
|  4|04153160000121|2017-04-01| 2017-04|      0|         0|EMPRESARIO (INDIV...| 0.48870310819159746|-0.01224412806742...|MATRIZ|   ATIVA|COMERCIO VAREJIST...| RS|ARVOREZINHA|ARVOREZINHA - RS|   4301404|   430140|  0.608904820624465| -0.2855719281076614|       1.1468285008633166|    0.3177594661858988|         -0.0629496895580639| 0.13670164344800753| -1.5382024810264583|-1.0059102996708618|  0.0667724779296534|0.02815656544044692|                      0|   ARVOREZINHA|-0.7342505858149141| ARVOREZINHA - RS|
|  5|20052578000107|2017-06-01| 2017-06|      0|         2|SOCIEDADE EMPRESA...|  -0.765212103675822|-0.00744557837164...|MATRIZ|   ATIVA|COMERCIO VAREJIST...| RS|ARVOREZINHA|ARVOREZINHA - RS|   4301404|   430140|  0.608904820624465| -0.2855719281076614|       1.1468285008633166|    0.3177594661858988|         -0.0629496895580639| 0.13670164344800753| -1.5382024810264583|-1.0059102996708618|  0.0667724779296534|0.02815656544044692|                      0|   ARVOREZINHA|-0.7342505858149141| ARVOREZINHA - RS|
|  6|21162651000158|2016-09-01| 2016-09|      0|         5|SOCIEDADE EMPRESA...| -0.8782906297961304|-2.47753827983707...|MATRIZ|   ATIVA|COMERCIO VAREJIST...| RS|ARVOREZINHA|ARVOREZINHA - RS|   4301404|   430140|  0.608904820624465| -0.2855719281076614|       1.1468285008633166|    0.3177594661858988|         -0.0629496895580639| 0.13670164344800753| -1.5382024810264583|-1.0059102996708618|  0.0667724779296534|0.02815656544044692|                      0|   ARVOREZINHA|-0.7342505858149141| ARVOREZINHA - RS|
|  7|11086500000104|2017-02-01| 2017-02|      0|         2|SOCIEDADE EMPRESA...|-0.36843211980033996|-0.01200420058263...|MATRIZ|   ATIVA|LANCHONETES, CASA...| SP|     BARIRI|     BARIRI - SP|   3505203|   350520| 1.4585286617722262|-0.23802382872811825|     -0.27911555658109816|    0.5852373484303378|        -0.40340576114253063| -0.6569095362327324|-0.43895380894564084|-0.6808342612346103|  -0.590611453320443|-0.5955993828224339|                      0|        BARIRI|-0.7290817537446941|      BARIRI - SP|
|  8|49859416000159|2016-09-01| 2016-09|      0|         2|SOCIEDADE EMPRESA...|   2.395960915420799|0.006950070715679686|MATRIZ|   ATIVA|COMERCIO VAREJIST...| SP|     BARIRI|     BARIRI - SP|   3505203|   350520| 1.4585286617722262|-0.23802382872811825|     -0.27911555658109816|    0.5852373484303378|        -0.40340576114253063| -0.6569095362327324|-0.43895380894564084|-0.6808342612346103|  -0.590611453320443|-0.5955993828224339|                      0|        BARIRI|-0.7290817537446941|      BARIRI - SP|
|  9|05257422000160|2017-05-01| 2017-05|      0|         2|SOCIEDADE EMPRESA...|  0.2939567576510664|0.003591085928636769|MATRIZ|   ATIVA|COMERCIO VAREJIST...| SP|   CAIEIRAS|   CAIEIRAS - SP|   3509007|   350900|-0.4105230928329477| -0.3334610289524067|       1.0530480316553366|    0.2115955644703229|          0.2896655274401338| -1.2089868786193347| 0.16955884881338312|-0.6242992980283057|-0.35230977824228304|-0.2498366620558702|                      1|      CAIEIRAS|-0.7154231209909129|    CAIEIRAS - SP|
| 10|26791106000144|2016-08-01| 2016-08|      0|         2|SOCIEDADE EMPRESA...| -1.0931398294247163|-0.01176427309784...|MATRIZ|   ATIVA|COMERCIO VAREJIST...| SP|   CAIEIRAS|   CAIEIRAS - SP|   3509007|   350900|-0.4105230928329477| -0.3334610289524067|       1.0530480316553366|    0.2115955644703229|          0.2896655274401338| -1.2089868786193347| 0.16955884881338312|-0.6242992980283057|-0.35230977824228304|-0.2498366620558702|                      1|      CAIEIRAS|-0.7154231209909129|    CAIEIRAS - SP|
| 11|10475241000140|2016-08-01| 2016-08|      0|         2|SOCIEDADE EMPRESA...| -0.3425497015994694| -0.0098448532195349|MATRIZ|   ATIVA|COMERCIO VAREJIST...| SP|   CAIEIRAS|   CAIEIRAS - SP|   3509007|   350900|-0.4105230928329477| -0.3334610289524067|       1.0530480316553366|    0.2115955644703229|          0.2896655274401338| -1.2089868786193347| 0.16955884881338312|-0.6242992980283057|-0.35230977824228304|-0.2498366620558702|                      1|      CAIEIRAS|-0.7154231209909129|    CAIEIRAS - SP|
| 12|20871985000138|2017-02-01| 2017-02|      1|         0|EMPRESARIO (INDIV...| -0.8290386495303961|-0.01104449064347...|MATRIZ|   ATIVA|LANCHONETES, CASA...| SP|   CAIEIRAS|   CAIEIRAS - SP|   3509007|   350900|-0.4105230928329477| -0.3334610289524067|       1.0530480316553366|    0.2115955644703229|          0.2896655274401338| -1.2089868786193347| 0.16955884881338312|-0.6242992980283057|-0.35230977824228304|-0.2498366620558702|                      1|      CAIEIRAS|-0.7154231209909129|    CAIEIRAS - SP|
| 13|60363330000173|2016-09-01| 2016-09|      0|         2|SOCIEDADE EMPRESA...|  1.4591681479174439|-0.01224412806742...|MATRIZ|   ATIVA|PADARIA E CONFEIT...| SP|   CAIEIRAS|   CAIEIRAS - SP|   3509007|   350900|-0.4105230928329477| -0.3334610289524067|       1.0530480316553366|    0.2115955644703229|          0.2896655274401338| -1.2089868786193347| 0.16955884881338312|-0.6242992980283057|-0.35230977824228304|-0.2498366620558702|                      1|      CAIEIRAS|-0.7154231209909129|    CAIEIRAS - SP|
| 14|07275447000112|2016-09-01| 2016-09|      0|         2|SOCIEDADE EMPRESA...|-2.98695875336063...|-0.01224412806742...|MATRIZ|   ATIVA|RESTAURANTES E SI...| SP|   CAIEIRAS|   CAIEIRAS - SP|   3509007|   350900|-0.4105230928329477| -0.3334610289524067|       1.0530480316553366|    0.2115955644703229|          0.2896655274401338| -1.2089868786193347| 0.16955884881338312|-0.6242992980283057|-0.35230977824228304|-0.2498366620558702|                      1|      CAIEIRAS|-0.7154231209909129|    CAIEIRAS - SP|
| 15|17774817000110|2016-11-01| 2016-11|      0|         2|SOCIEDADE EMPRESA...| -0.7204832644549001|-0.01104449064347...|MATRIZ|   ATIVA|LANCHONETES, CASA...| SP|   CAIEIRAS|   CAIEIRAS - SP|   3509007|   350900|-0.4105230928329477| -0.3334610289524067|       1.0530480316553366|    0.2115955644703229|          0.2896655274401338| -1.2089868786193347| 0.16955884881338312|-0.6242992980283057|-0.35230977824228304|-0.2498366620558702|                      1|      CAIEIRAS|-0.7154231209909129|    CAIEIRAS - SP|
| 16|08999339000155|2016-12-01| 2016-12|      0|         2|SOCIEDADE EMPRESA...| -0.1978091881654747|-0.01200420058263...|MATRIZ|   ATIVA|RESTAURANTES E SI...| SP|   CAIEIRAS|   CAIEIRAS - SP|   3509007|   350900|-0.4105230928329477| -0.3334610289524067|       1.0530480316553366|    0.2115955644703229|          0.2896655274401338| -1.2089868786193347| 0.16955884881338312|-0.6242992980283057|-0.35230977824228304|-0.2498366620558702|                      1|      CAIEIRAS|-0.7154231209909129|    CAIEIRAS - SP|
| 17|25025798000157|2016-08-01| 2016-08|      0|         0|EMPRESARIO (INDIV...| -1.0428827067045792|-0.01128441812826...|MATRIZ|   ATIVA|COMERCIO VAREJIST...| SP|   CAIEIRAS|   CAIEIRAS - SP|   3509007|   350900|-0.4105230928329477| -0.3334610289524067|       1.0530480316553366|    0.2115955644703229|          0.2896655274401338| -1.2089868786193347| 0.16955884881338312|-0.6242992980283057|-0.35230977824228304|-0.2498366620558702|                      1|      CAIEIRAS|-0.7154231209909129|    CAIEIRAS - SP|
| 18|13941684000178|2017-03-01| 2017-03|      0|         2|SOCIEDADE EMPRESA...| -0.5340293391631916|-0.01176427309784...|MATRIZ|   ATIVA|RESTAURANTES E SI...| SP|   CAIEIRAS|   CAIEIRAS - SP|   3509007|   350900|-0.4105230928329477| -0.3334610289524067|       1.0530480316553366|    0.2115955644703229|          0.2896655274401338| -1.2089868786193347| 0.16955884881338312|-0.6242992980283057|-0.35230977824228304|-0.2498366620558702|                      1|      CAIEIRAS|-0.7154231209909129|    CAIEIRAS - SP|
| 19|65985699000131|2016-09-01| 2016-09|      0|         0|EMPRESARIO (INDIV...|  1.2649243686041143|-0.01164430935545...|MATRIZ|   ATIVA|COMERCIO VAREJIST...| SP|   CAIEIRAS|   CAIEIRAS - SP|   3509007|   350900|-0.4105230928329477| -0.3334610289524067|       1.0530480316553366|    0.2115955644703229|          0.2896655274401338| -1.2089868786193347| 0.16955884881338312|-0.6242992980283057|-0.35230977824228304|-0.2498366620558702|                      1|      CAIEIRAS|-0.7154231209909129|    CAIEIRAS - SP|
+---+--------------+----------+--------+-------+----------+--------------------+--------------------+--------------------+------+--------+--------------------+---+-----------+----------------+----------+---------+-------------------+--------------------+-------------------------+----------------------+----------------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-----------------------+--------------+-------------------+-----------------+
only showing top 20 rows

In [0]:
df = df.where(SF.col('taxa_analfabetismo') != 'NaN')
df = df.where(SF.col('populacao') != 'NaN')
df.count()

64723

### TIPO [Matriz-Filial]

In [0]:
# importar pacotes
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoderEstimator, VectorAssembler

In [0]:
## String Indexer em Tipo
indexer = StringIndexer(inputCol='TIPO', outputCol='tipo_index')

df = indexer.fit(df).transform(df)

## Natureza Juridica

In [0]:
countGenTab(df, 'NATUREZA_JURIDICA').head()

                                   NATUREZA_JURIDICA  count   prop
0                      SOCIEDADE EMPRESARIA LIMITADA  37212  57.49
1                            EMPRESARIO (INDIVIDUAL)  20784  32.11
2  EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITAD...   6544  10.11
3                          SOCIEDADE ANONIMA FECHADA     63   0.10
4                                        COOPERATIVA     46   0.07

In [0]:
df = df.withColumn('natureza_socied_limitada', when(df.NATUREZA_JURIDICA == 'SOCIEDADE EMPRESARIA LIMITADA', 1).otherwise(0))
df = df.withColumn('natureza_empresario_indiv', when(df.NATUREZA_JURIDICA == 'EMPRESARIO (INDIVIDUAL)', 1).otherwise(0))
df = df.withColumn('natureza_empresa_indiv_limitada', when(df.NATUREZA_JURIDICA == 'EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA', 1).otherwise(0))

### SITUAÇÃO

In [0]:
countGenTab(df, 'SITUACAO')

   SITUACAO  count   prop
0     ATIVA  60115  92.88
1   BAIXADA   4093   6.32
2    INAPTA    441   0.68
3  SUSPENSA     74   0.11

In [0]:
df = df.withColumn('situacao_ativa', when(df.SITUACAO == 'ATIVA', 1).otherwise(0))
df = df.withColumn('situacao_baixada', when(df.SITUACAO == 'BAIXADA', 1).otherwise(0))

### UNIDADE FEDERATIVA (UF)

In [0]:
df = df.withColumnRenamed('UF12', 'UF')

prop_UF = countGenTab(df, 'UF')
#prop_UF.head(30)
prop_UF = spark.createDataFrame(prop_UF)
prop_UF = prop_UF.withColumn('SIG', SF.when(SF.col("prop")>1, SF.lit("1")).otherwise(SF.lit('0')))
prop_UF.show(30, False)

+---+-----+-----+---+
|UF |count|prop |SIG|
+---+-----+-----+---+
|SP |25970|40.12|1  |
|RJ |6859 |10.6 |1  |
|MG |6502 |10.05|1  |
|PR |4711 |7.28 |1  |
|RS |4425 |6.84 |1  |
|BA |2796 |4.32 |1  |
|SC |2545 |3.93 |1  |
|PE |1816 |2.81 |1  |
|DF |1364 |2.11 |1  |
|GO |1347 |2.08 |1  |
|ES |1312 |2.03 |1  |
|CE |1147 |1.77 |1  |
|MS |519  |0.8  |0  |
|MT |512  |0.79 |0  |
|PA |444  |0.69 |0  |
|PB |424  |0.66 |0  |
|AM |384  |0.59 |0  |
|MA |339  |0.52 |0  |
|RN |269  |0.42 |0  |
|AL |241  |0.37 |0  |
|SE |214  |0.33 |0  |
|PI |189  |0.29 |0  |
|TO |181  |0.28 |0  |
|RO |76   |0.12 |0  |
|AC |59   |0.09 |0  |
|AP |40   |0.06 |0  |
|RR |38   |0.06 |0  |
+---+-----+-----+---+

In [0]:
prop_UF = prop_UF.drop('count','prop')
df = df.join(prop_UF, ['UF'], 'left')

In [0]:
df = df.withColumn('UF', SF.when(SF.col("SIG")==1, SF.col("UF")).otherwise(SF.lit('OUTROS')))
df = df.drop('SIG')

In [0]:
indexer = StringIndexer(inputCol='UF', outputCol='UF_index')

df = indexer.fit(df).transform(df)

In [0]:
encoder = OneHotEncoderEstimator(inputCols=['UF_index'],
                                 outputCols=['UF_encoded'])

model = encoder.fit(df)
df = model.transform(df)

### ATIVIDADE PRINCIPAL

In [0]:
countGenTab(df, 'ATIVIDADE_PRINCIPAL').head()

                                 ATIVIDADE_PRINCIPAL  count   prop
0                           RESTAURANTES E SIMILARES  17781  27.47
1  COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, CO...  10667  16.48
2    LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES  10032  15.50
3  COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, CO...   5937   9.17
4                                           ********   4593   7.10

In [0]:
bag_word = ('DOCES', 'ALIMENTO', 'RESTAURANTE')

@SF.udf('string')
def evalAtividade(value):
  cont = 0
  for word in bag_word:
    if word in value:
      cont = cont + 1
  if cont >= 1:
    return 1
  else:
    return 0

df = df.withColumn('atividade_alimento', evalAtividade('ATIVIDADE_PRINCIPAL'))

In [0]:
countGenTab(df, 'atividade_alimento')

  atividade_alimento  count   prop
0                  0  44601  68.91
1                  1  20122  31.09

In [0]:
data = df.select('CNPJ', 'DATA_REF', 'CS_ALVO', 'QTD_SOCIOS', 
                 'CAPITAL_SOCIAL', 'IDADE', 'tipo_index', 
                 'natureza_socied_limitada', 'natureza_empresario_indiv',
                 'natureza_empresa_indiv_limitada', 'situacao_ativa',
                'situacao_baixada', 'UF_index', 'atividade_alimento', 'populacao',
                 'municipio_metropolitano','dist_capital','area_municipio',
                 'taxa_atividade_18anosmais','porcent_pop_saneamento',
                 'porcent_mulheres10a17_filhos','mortalidade_infantil','IDHM',
                 'IDHM_renda','taxa_analfabetismo','porcent_pobres')

data.show(5)

+--------------+--------+-------+----------+--------------------+--------------------+----------+------------------------+-------------------------+-------------------------------+--------------+----------------+--------+------------------+-------------------+-----------------------+------------------+--------------------+-------------------------+----------------------+----------------------------+--------------------+-------------------+-------------------+-------------------+-------------------+
|          CNPJ|DATA_REF|CS_ALVO|QTD_SOCIOS|      CAPITAL_SOCIAL|               IDADE|tipo_index|natureza_socied_limitada|natureza_empresario_indiv|natureza_empresa_indiv_limitada|situacao_ativa|situacao_baixada|UF_index|atividade_alimento|          populacao|municipio_metropolitano|      dist_capital|      area_municipio|taxa_atividade_18anosmais|porcent_pop_saneamento|porcent_mulheres10a17_filhos|mortalidade_infantil|               IDHM|         IDHM_renda| taxa_analfabetismo|     porcent_pobres|
+--------------+--------+-------+----------+--------------------+--------------------+----------+------------------------+-------------------------+-------------------------------+--------------+----------------+--------+------------------+-------------------+-----------------------+------------------+--------------------+-------------------------+----------------------+----------------------------+--------------------+-------------------+-------------------+-------------------+-------------------+
|00156902000111| 2016-09|      0|         3|-0.01044467193150...|  0.9674022021009029|       0.0|                       1|                        0|                              0|             1|               0|     7.0|                 1|-0.7279768704066641|                      0|0.9528881923401529|-0.09921971900269752|      -0.7720641767768895|  -0.20754503451065506|          1.7852404133290412| -0.4153756989385943|-1.0082075855589212|-0.9635090772661333| 0.1160762727734105|0.49562776391684105|
|81295842000110| 2016-10|      0|         1|-0.01224412806742...|  1.4651990026438604|       0.0|                       0|                        0|                              0|             1|               0|     7.0|                 0|-0.7279768704066641|                      0|0.9528881923401529|-0.09921971900269752|      -0.7720641767768895|  -0.20754503451065506|          1.7852404133290412| -0.4153756989385943|-1.0082075855589212|-0.9635090772661333| 0.1160762727734105|0.49562776391684105|
|82156977000167| 2016-09|      0|         3|0.010548982987511384|  1.3335253411171013|       0.0|                       1|                        0|                              0|             1|               0|     7.0|                 0|-0.7279768704066641|                      0|0.9528881923401529|-0.09921971900269752|      -0.7720641767768895|  -0.20754503451065506|          1.7852404133290412| -0.4153756989385943|-1.0082075855589212|-0.9635090772661333| 0.1160762727734105|0.49562776391684105|
|03372720000176| 2016-12|      0|         3|-0.01152434561305...|  0.5291600919813078|       0.0|                       1|                        0|                              0|             1|               0|     7.0|                 1| -0.700109450998781|                      0|0.4243909330769714|-0.21461830281712446|       2.6256743614506908|    0.4652859270114391|         -0.8532941414505758|  -1.205536395229418| 0.6014065414165615|0.12478896445523038|-0.7878266326954719|-0.8542298979558235|
|12830072000145| 2017-01|      0|         1|-0.00995521986253...|-0.49005435678307163|       0.0|                       0|                        0|                              0|             1|               0|     7.0|                 0| -0.700109450998781|                      0|0.4243909330769714|-0.21461830281712446|       2.6256743614506908|    0.4652859270114391|         -0.8532941414505758|  -1.205536395229418| 0.6014065414165615|0.12478896445523038|-0.7878266326954719|-0.8542298979558235|
+--------------+--------+-------+----------+--------------------+--------------------+----------+------------------------+-------------------------+-------------------------------+--------------+----------------+--------+------------------+-------------------+-----------------------+------------------+--------------------+-------------------------+----------------------+----------------------------+--------------------+-------------------+-------------------+-------------------+-------------------+
only showing top 5 rows

In [0]:
countGenTab(data, 'CS_ALVO')

  CS_ALVO  count   prop
0       0  57382  88.66
1       1   7341  11.34

In [0]:
# SALVAR BASE FINAL
pdata = data.toPandas()
pdata.to_csv(path+'model_data5.csv')