In [1]:
'''
Machine Learning para Analise de Dados
CESAR Scholl
Projeto de analise de credito
Recife, 2019


Equipe:
    Claudio Alves Monteiro
    Marcos Antonio Almeida Souto Júnior
    Virgínia Heimann
    Kayo Renato da Silva Nascimento
    Rosely Cabral
'''

'\nMachine Learning para Analise de Dados\nCESAR Scholl\nProjeto de analise de credito\nRecife, 2019\n\n\nEquipe:\n    Claudio Alves Monteiro\n    Marcos Antonio Almeida Souto Júnior\n    Virgínia Heimann\n    Kayo Renato da Silva Nascimento\n    Rosely Cabral\n'

In [2]:
# Spark Session
from pyspark.sql import SparkSession, Row
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
# import modules
import os
import pandas as pd
from pyspark.sql import functions as SF
import pyspark.sql.types as ST

# paths to spark and python3
os.environ['PYSPARK_SUBMIT_ARGS'] = '--executor-memory 1G pyspark-shell'
os.environ["SPARK_HOME"] = "/home/pacha/spark"
os.environ["PYSPARK_PYTHON"]="/usr/bin/python3"

In [4]:
# import data

df = spark.read.csv('data/jur.csv',
                    sep='\t',
                    encoding='utf-8',
                    header=True,
                    inferSchema=False)


df_cursor = spark.read.csv('data/Base_Des-TRN',
                    sep='\t',
                    encoding='utf-8',
                    header=True,
                    inferSchema=False)

In [5]:
df.printSchema()

root
 |-- CNPJ: string (nullable = true)
 |-- NOME_EMPRESA: string (nullable = true)
 |-- FANTASIA: string (nullable = true)
 |-- NATUREZA_JURIDICA: string (nullable = true)
 |-- ATIVIDADE_PRINCIPAL: string (nullable = true)
 |-- ATIVIDADES_SECUNDARIAS: string (nullable = true)
 |-- CNPJ_FORMATADO: string (nullable = true)
 |-- TIPO: string (nullable = true)
 |-- LOGRADOURO: string (nullable = true)
 |-- NUMERO: string (nullable = true)
 |-- COMPLEMENTO: string (nullable = true)
 |-- BAIRRO: string (nullable = true)
 |-- CEP: string (nullable = true)
 |-- MUNICIPIO: string (nullable = true)
 |-- UF: string (nullable = true)
 |-- TELEFONE_1: string (nullable = true)
 |-- TELEFONE_2: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- ABERTURA: string (nullable = true)
 |-- CAPITAL_SOCIAL: string (nullable = true)
 |-- MOTIVO_SITUACAO: string (nullable = true)
 |-- SITUACAO: string (nullable = true)
 |-- DATA_SITUACAO: string (nullable = true)
 |-- SITUACAO_ESPECIAL: string (nullable = true)
 |-- DATA_SITUACAO_ESPECIAL: string (nullable = true)
 |-- EFR: string (nullable = true)
 |-- NOME_SOCIO: string (nullable = true)
 |-- CARGO: string (nullable = true)
 |-- NOME_REP_LEGAL: string (nullable = true)
 |-- CARGO_REP_LEGAL: string (nullable = true)
 |-- REF_DATE: string (nullable = true)
 |-- LOAD_DATE: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- QUERY_NAME: string (nullable = true)
 |-- QUERY_VERSION: string (nullable = true)
 |-- QUERY_STATUS: string (nullable = true)
 |-- QUERY_DATE: string (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)

In [6]:
df.show(10, False)

+--------------+-----------------------------------------------+---------------------+-----------------------------+----------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------+------+------------------------+------+------------------------+------------------+--------+--------------+---+--------------+--------------+------------------------------------+------------------------+--------------+---------------+--------+------------------------+-----------------+----------------------+----+--------------------------------+-------------------------------------------------+------------------+---------------+----------+------------------------+------+----------+-------------+------------+------------------------+----+-----+
|CNPJ          |NOME_EMPRESA                                   |FANTASIA             |NATUREZA_JURIDICA            |ATIVIDADE_PRINCIPAL                                                                                                         |ATIVIDADES_SECUNDARIAS                                                                                                                                                                                                           |CNPJ_FORMATADO    |TIPO  |LOGRADOURO              |NUMERO|COMPLEMENTO             |BAIRRO            |CEP     |MUNICIPIO     |UF |TELEFONE_1    |TELEFONE_2    |EMAIL                               |ABERTURA                |CAPITAL_SOCIAL|MOTIVO_SITUACAO|SITUACAO|DATA_SITUACAO           |SITUACAO_ESPECIAL|DATA_SITUACAO_ESPECIAL|EFR |NOME_SOCIO                      |CARGO                                            |NOME_REP_LEGAL    |CARGO_REP_LEGAL|REF_DATE  |LOAD_DATE               |STATUS|QUERY_NAME|QUERY_VERSION|QUERY_STATUS|QUERY_DATE              |YEAR|MONTH|
+--------------+-----------------------------------------------+---------------------+-----------------------------+----------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------+------+------------------------+------+------------------------+------------------+--------+--------------+---+--------------+--------------+------------------------------------+------------------------+--------------+---------------+--------+------------------------+-----------------+----------------------+----+--------------------------------+-------------------------------------------------+------------------+---------------+----------+------------------------+------+----------+-------------+------------+------------------------+----+-----+
|36487312000119|CANTINA BUONGIORNO CIAO LTDA                   |BUONGIORNO RISTORANTE|SOCIEDADE EMPRESARIA LIMITADA|RESTAURANTES E SIMILARES                                                                                                    |NAO INFORMADA                                                                                                                                                                                                                    |36.487.312/0001-19|MATRIZ|R GAVIAO PEIXOTO        |152   |LOJA 104                |ICARAI            |24230101|NITEROI       |RJ |null          |null          |null                                |1991-05-08T00:00:00.000Z|0.0           |null           |ATIVA   |2005-03-05T00:00:00.000Z|null             |null                  |null|BIANCA MARCELLE ROMANELE        |SOCIO                                            |null              |null           |2015-08-22|2018-10-29T14:16:58.300Z|OK    |JUR001    |1.0.0        |SUCCESS     |2018-10-16T06:36:28.000Z|2018|10   |
|20096015000102|SUPER REDE MERCEARIA DE REALENGO LTDA          |SUPER REDE           |SOCIEDADE EMPRESARIA LIMITADA|COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - MINIMERCADOS, MERCEARIAS E ARMAZENS|COMERCIO VAREJISTA DE CARNES - ACOUGUES,COMERCIO VAREJISTA DE LATICINIOS E FRIOS,COMERCIO VAREJISTA DE HORTIFRUTIGRANJEIROS,PADARIA E CONFEITARIA COM PREDOMINANCIA DE REVENDA,COMERCIO VAREJISTA DE BEBIDAS                     |20.096.015/0001-02|MATRIZ|R SILVA NETO            |1104  |null                    |REALENGO          |21770000|RIO DE JANEIRO|RJ |(21) 2671-4350|(21) 2671-4350|uberlan@fricks.adv.br               |2014-04-09T00:00:00.000Z|100000.0      |null           |ATIVA   |2014-04-09T00:00:00.000Z|null             |null                  |null|BRUNO SONEGHETTI CAUPER PINTO   |SOCIO                                            |null              |null           |2015-09-10|2018-10-29T14:16:58.300Z|OK    |JUR001    |1.0.0        |SUCCESS     |2018-10-27T16:56:21.000Z|2018|10   |
|1953169000129 |BUONO CAFE LANCHONETE E RESTAURANTE LTDA       |null                 |SOCIEDADE EMPRESARIA LIMITADA|LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES                                                                             |COMERCIO VAREJISTA DE DOCES, BALAS, BOMBONS E SEMELHANTES,RESTAURANTES E SIMILARES                                                                                                                                               |01.953.169/0001-29|MATRIZ|PC DA REPUBLICA         |167   |171 173                 |REPUBLICA         |1045001 |SAO PAULO     |SP |(11) 3259-1133|null          |okaybrazil@outlook.com              |1997-07-07T00:00:00.000Z|20000.0       |null           |ATIVA   |2001-08-25T00:00:00.000Z|null             |null                  |null|EDICARLOS OLIVEIRA DA CRUZ      |SOCIO                                            |null              |null           |2015-08-18|2018-10-29T14:16:58.300Z|OK    |JUR001    |1.0.0        |SUCCESS     |2018-10-25T01:32:11.000Z|2018|10   |
|28860602000138|LUCIANA RODRIGUES ROCHA 00875379664            |MONTANA BURGUER      |EMPRESARIO (INDIVIDUAL)      |SERVICOS AMBULANTES DE ALIMENTACAO                                                                                          |NAO INFORMADA                                                                                                                                                                                                                    |28.860.602/0001-38|MATRIZ|R FLOR DAS ALMAS        |513   |null                    |JARDIM ALVORADA   |30810130|BELO HORIZONTE|MG |(31) 9535-7611|null          |luciana.rocha7@outlook.com          |2017-10-16T00:00:00.000Z|1000.0        |null           |ATIVA   |2017-10-16T00:00:00.000Z|null             |null                  |null|null                            |null                                             |null              |null           |2015-07-17|2018-10-29T14:16:58.300Z|OK    |JUR001    |1.0.0        |SUCCESS     |2018-10-27T02:18:35.000Z|2018|10   |
|1589195000110 |SUPERMERCADO SEANE DAS PALMEIRAS LTDA          |null                 |SOCIEDADE EMPRESARIA LIMITADA|COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - SUPERMERCADOS                      |NAO INFORMADA                                                                                                                                                                                                                    |01.589.195/0001-10|MATRIZ|EST DO KOYAMA           |10    |null                    |BAIRRO PALMEIRAS  |8633210 |SUZANO        |SP |(11) 3926-5483|null          |fiscal@gckconsultoriacontabil.com.br|1996-12-16T00:00:00.000Z|50000.0       |null           |ATIVA   |2005-11-03T00:00:00.000Z|null             |null                  |null|JOSE DANTAS MIRANDA             |SOCIO                                            |null              |null           |2015-09-18|2018-10-29T14:16:58.300Z|OK    |JUR001    |1.0.0        |SUCCESS     |2018-10-17T08:20:54.000Z|2018|10   |
|87951000000155|VALDIR LAZZARI CIA LTDA                        |null                 |SOCIEDADE EMPRESARIA LIMITADA|COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - SUPERMERCADOS                      |TABACARIA,COMERCIO VAREJISTA DE ARTIGOS DE ARMARINHO,COMERCIO VAREJISTA DE ARTIGOS DO VESTUARIO E ACESSORIOS,COMERCIO VAREJISTA DE ARTIGOS DE CAMA, MESA E BANHO                                                                 |87.951.000/0001-55|MATRIZ|R SAO JOAQUIM           |201   |null                    |GLORIA            |90870070|PORTO ALEGRE  |RS |null          |null          |null                                |1974-12-10T00:00:00.000Z|165000.0      |null           |ATIVA   |2004-08-28T00:00:00.000Z|null             |null                  |null|EDUARDO MACCARI LAZZARI         |SOCIO                                            |null              |null           |2015-09-09|2018-10-29T14:16:58.300Z|OK    |JUR001    |1.0.0        |SUCCESS     |2018-10-24T11:09:20.000Z|2018|10   |
|1061088000114 |ORGANIZACAO BRANDAO OLIVEIRA LTDA              |null                 |SOCIEDADE EMPRESARIA LIMITADA|COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - SUPERMERCADOS                      |PADARIA E CONFEITARIA COM PREDOMINANCIA DE REVENDA,COMERCIO VAREJISTA DE CARNES - ACOUGUES,COMERCIO VAREJISTA DE HORTIFRUTIGRANJEIROS,LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES,CORRESPONDENTES DE INSTITUICOES FINANCEIRAS|01.061.088/0001-14|MATRIZ|R PROF. BORGES DA COSTA |370   |null                    |ASTECA            |33120060|SANTA LUZIA   |MG |null          |null          |null                                |1996-02-26T00:00:00.000Z|10050.0       |null           |ATIVA   |2005-09-03T00:00:00.000Z|null             |null                  |null|FABIO GUILHERME BRANDAO OLIVEIRA|SOCIO                                            |null              |null           |2015-10-06|2018-10-29T14:16:58.300Z|OK    |JUR001    |2.0.0        |SUCCESS     |2018-10-24T14:19:00.000Z|2018|10   |
|23860083000194|KI PAO JOIA LTDA                               |null                 |SOCIEDADE EMPRESARIA LIMITADA|PADARIA E CONFEITARIA COM PREDOMINANCIA DE REVENDA                                                                          |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - MINIMERCADOS, MERCEARIAS E ARMAZENS,LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES,COMERCIO VAREJISTA DE JORNAIS E REVISTAS            |23.860.083/0001-94|MATRIZ|R MARQUES DO LAVRADIO   |560   |LOJA;                   |ALTO DOS PINHEIROS|30530110|BELO HORIZONTE|MG |(31) 3384-8212|(31) 3384-8212|gaminf@ig.com.br                    |1987-12-09T00:00:00.000Z|71600.0       |null           |ATIVA   |2005-11-03T00:00:00.000Z|null             |null                  |null|MARIA CLARA LOTTE LOPES         |SOCIO OU ACIONISTA MENOR (ASSISTIDO/REPRESENTADO)|PAULO SERGIO LOPES|PAI            |2015-08-23|2018-10-29T14:16:58.300Z|OK    |JUR001    |1.0.0        |SUCCESS     |2018-10-24T17:09:23.000Z|2018|10   |
|16908760000131|R. DE FATIMA BARROSO DE SOUSA MESQUITA         |FATIMA LANCHES       |EMPRESARIO (INDIVIDUAL)      |RESTAURANTES E SIMILARES                                                                                                    |COMERCIO VAREJISTA DE PRODUTOS ALIMENTICIOS EM GERAL OU ESPECIALIZADO EM PRODUTOS ALIMENTICIOS NAO ESPECIFICADOS ANTERIORMENTE,FORNECIMENTO DE ALIMENTOS PREPARADOS PREPONDERANTEMENTE PARA CONSUMO DOMICILIAR                   |16.908.760/0001-31|MATRIZ|R PADRE PEDRO DE ALENCAR|302   |LOJA 202 203 204 205 209|MESSEJANA         |60840280|FORTALEZA     |CE |(85) 3275-8401|null          |fiscal@casadacontabilidade.com      |2012-09-25T00:00:00.000Z|10000.0       |null           |ATIVA   |2012-09-25T00:00:00.000Z|null             |null                  |null|null                            |null                                             |null              |null           |2015-08-10|2018-10-29T14:16:58.300Z|OK    |JUR001    |1.0.0        |SUCCESS     |2018-10-28T16:19:04.000Z|2018|10   |
|24491353000108|RCC ARACAJU RIO MAR COMERCIAL DE ALIMENTOS LTDA|GANACHE CAFE         |SOCIEDADE EMPRESARIA LIMITADA|LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES                                                                             |NAO INFORMADA                                                                                                                                                                                                                    |24.491.353/0001-08|MATRIZ|AV DELMIRO GOUVEIA      |400   |null                    |COROA DO MEIO     |49035500|ARACAJU       |SE |(71) 9957-1925|(71) 3322-7149|paulolimabastos@hotmail.com         |2016-03-30T00:00:00.000Z|200000.0      |null           |ATIVA   |2016-03-30T00:00:00.000Z|null             |null                  |null|ROSIMEIRE DA SILVA BATISTA      |SOCIO                                            |null              |null           |2015-10-21|2018-10-29T14:16:58.300Z|OK    |JUR001    |1.0.0        |SUCCESS     |2018-10-28T08:20:00.000Z|2018|10   |
+--------------+-----------------------------------------------+---------------------+-----------------------------+----------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------+------+------------------------+------+------------------------+------------------+--------+--------------+---+--------------+--------------+------------------------------------+------------------------+--------------+---------------+--------+------------------------+-----------------+----------------------+----+--------------------------------+-------------------------------------------------+------------------+---------------+----------+------------------------+------+----------+-------------+------------+------------------------+----+-----+
only showing top 10 rows

In [7]:
df_cursor.show(5)

+--------------+--------+-------+
|          CNPJ|DATA_REF|CS_ALVO|
+--------------+--------+-------+
|11507110000160| 2016-10|      0|
|15062189000114| 2016-07|      0|
| 5841171000167| 2016-08|      0|
| 8792807000116| 2016-08|      0|
|24060073000137| 2017-01|      1|
+--------------+--------+-------+
only showing top 5 rows

In [8]:
#------ tratar inicio do CNPJ sem o 0

@SF.udf('string')
def fill_cnpj(value):
    aux = '00000000000000'+value
    return aux[len(value):]

#------ tratar inicio do CEP sem o 0

@SF.udf('string')
def fill_cep(value):
    aux = '00000000'+value
    return aux[len(value):]

In [9]:
df_cursor = df_cursor.withColumn('CNPJ',fill_cnpj('CNPJ'))
df_cursor.show(5)

+--------------+--------+-------+
|          CNPJ|DATA_REF|CS_ALVO|
+--------------+--------+-------+
|11507110000160| 2016-10|      0|
|15062189000114| 2016-07|      0|
|05841171000167| 2016-08|      0|
|08792807000116| 2016-08|      0|
|24060073000137| 2017-01|      1|
+--------------+--------+-------+
only showing top 5 rows

In [10]:
df = df.withColumn('CEP',fill_cep('CEP'))
#df.show(20)

In [11]:
df = df.withColumn('CNPJ',fill_cnpj('CNPJ'))
#df.show(5)

In [12]:
#------ Convertendo REF_DATE do df_cursor para timestamp

df_cursor = df_cursor.withColumn('REF_DATE',SF.from_unixtime(
            SF.unix_timestamp('DATA_REF','yyyy-MM')).cast('timestamp'))

#df_cursor.show(5)

In [13]:
#------ Convertendo REF_DATE do df para timestamp

df = df.withColumn('REF_DATE',SF.col('REF_DATE').cast('timestamp'))

In [14]:
df = df.withColumnRenamed('CNPJ','CNPJ_DF').withColumnRenamed('REF_DATE','REF_DATE_DF')

In [15]:
#------ Criando o df_base. O df_base é construído a partir do cursor. Todas as entradas do cursor são preservadas 
# e é feito um join com as entradas do df que correspondem à condição dupla: mesmo "CNPJ" e "Data de Referência" do df
# anterior à "Dara de Referência" do cursor  

df_base = df_cursor.join(df,
                 (df_cursor['CNPJ']==df['CNPJ_DF']) & 
                 (df_cursor['REF_DATE'] >= df['REF_DATE_DF']),
                 'left')

<h1>1) Quantidade de EMAILS</h1>

In [16]:
# Considera todas as tuplas (CNPJ, REF_DATE, EMAIL) do df_base. Elimina as duplicadas. Assim, encontra a quantidade de e-mails
# diferentes.

#df_aux = df_base.select('CNPJ','REF_DATE','EMAIL').dropDuplicates().\
#            groupBy('CNPJ','REF_DATE').agg(SF.count('EMAIL').alias('QTD_EMAIL')).sort(SF.desc('QTD_EMAIL'))
#df_aux.show(10)

In [17]:
# Cria um df_final (que será a nossa base de dados para rodar o algoritmo de ML). Nesse momento será o cursor + Qtd de e-mails

#df_final = df_cursor.join(df_aux,['CNPJ','REF_DATE'],'left')
#df_final.show()

<h1>2) Quantidade de Telefones</h1>

In [18]:
#df_aux = df_base.select(['CNPJ','REF_DATE','TELEFONE_1','TELEFONE_2']).dropDuplicates()

In [19]:
#df_aux = df_aux.withColumn('QTD_TLF1',SF.when(SF.col('TELEFONE_1').isNotNull(),1).otherwise(0)).\
#                withColumn('QTD_TLF2',SF.when(SF.col('TELEFONE_2').isNotNull(),1).otherwise(0)).\
#                withColumn('QTD_TELEFONES',SF.col('QTD_TLF1')+SF.col('QTD_TLF2')).\
#                groupBy('CNPJ','REF_DATE').agg(SF.sum('QTD_TELEFONES').alias('QTD_TELEFONES'))
#df_aux.show()

In [20]:
#df_final = df_final.join(df_aux, ['CNPJ','REF_DATE'], 'left')
#df_final.show()

<h1>3) Classificação por CEP : Região, Subregião, Setor, Subsetor, Divisão de Subsetor e Logradouro</h1>

In [21]:
#df_aux = df_base.select(['CNPJ', 'REF_DATE','CEP']).dropDuplicates()

In [22]:
'''
df_aux = df_aux.withColumn('REGIAO',SF.col('CEP').substr(1, 1)).\
         withColumn('SUBREGIAO',SF.col('CEP').substr(1, 2)).\
         withColumn('SETOR',SF.col('CEP').substr(1, 3)).\
         withColumn('SUBSETOR',SF.col('CEP').substr(1, 4)).\
         withColumn('DIV_SUBSETOR',SF.col('CEP').substr(1, 5)).\
         withColumn('LOGRADOURO',SF.col('CEP').substr(1, 9)).\
         drop('CEP')
'''

"\ndf_aux = df_aux.withColumn('REGIAO',SF.col('CEP').substr(1, 1)).         withColumn('SUBREGIAO',SF.col('CEP').substr(1, 2)).         withColumn('SETOR',SF.col('CEP').substr(1, 3)).         withColumn('SUBSETOR',SF.col('CEP').substr(1, 4)).         withColumn('DIV_SUBSETOR',SF.col('CEP').substr(1, 5)).         withColumn('LOGRADOURO',SF.col('CEP').substr(1, 9)).         drop('CEP')\n"

In [23]:
#df_aux.show()

In [24]:
#df_final = df_cursor.join(df_aux,['CNPJ','REF_DATE'],'left')
#df_final.show()

#df_final = df_final.join(df_aux, ['CNPJ','REF_DATE'], 'left')
#df_final.show()

In [25]:
#df_final.groupBy('REGIAO').count().toPandas()

<h1>4) Quantidade de Sócios</h1>

In [26]:
df_aux = df_base.select('CNPJ','REF_DATE','NOME_SOCIO').dropDuplicates().\
            groupBy('CNPJ','REF_DATE').agg(SF.count('NOME_SOCIO').alias('QTD_SOCIOS')).sort(SF.desc('QTD_SOCIOS'))
df_aux.show(10)

+--------------+-------------------+----------+
|          CNPJ|           REF_DATE|QTD_SOCIOS|
+--------------+-------------------+----------+
|31130537000280|2016-10-01 00:00:00|        35|
|10297699000238|2017-04-01 00:00:00|        34|
|09456178000116|2016-09-01 00:00:00|        20|
|61087367000189|2017-03-01 00:00:00|        19|
|04907334000102|2016-09-01 00:00:00|        19|
|09643807000117|2017-04-01 00:00:00|        18|
|10392044000168|2017-01-01 00:00:00|        17|
|75492694000392|2016-11-01 00:00:00|        16|
|48093892000149|2016-11-01 00:00:00|        16|
|09541072000110|2017-04-01 00:00:00|        15|
+--------------+-------------------+----------+
only showing top 10 rows

In [27]:
df_final = df_cursor.join(df_aux, ['CNPJ','REF_DATE'], 'left')
df_final.toPandas()

                 CNPJ   REF_DATE DATA_REF CS_ALVO  QTD_SOCIOS
0      00004330000155 2016-10-01  2016-10       0           1
1      00078090000133 2017-03-01  2017-03       0           2
2      00109982000154 2016-09-01  2016-09       1           2
3      00281129000115 2017-06-01  2017-06       0           3
4      00294916000100 2017-02-01  2017-02       0           0
5      00370197000150 2016-11-01  2016-11       1           3
6      00711050000187 2016-11-01  2016-11       0           0
7      00951519000155 2017-01-01  2017-01       0           0
8      00984383000180 2016-09-01  2016-09       0           1
9      01013673000149 2017-02-01  2017-02       0           2
10     01024580000110 2016-09-01  2016-09       0           0
11     01163316000167 2017-01-01  2017-01       0           3
12     01252815000120 2016-07-01  2016-07       0           1
13     01358637000117 2017-05-01  2017-05       0           1
14     01469354000142 2017-01-01  2017-01       0           1
15     01689785000114 2017-02-01  2017-02       0           2
16     01805386000171 2017-03-01  2017-03       0           0
17     01836357001653 2017-04-01  2017-04       0           0
18     01864042000133 2017-01-01  2017-01       0           2
19     02026313000144 2016-10-01  2016-10       0           2
20     02046623000120 2017-01-01  2017-01       0           2
21     02065957000141 2017-04-01  2017-04       0           0
22     02141242000120 2017-03-01  2017-03       0           2
23     02267397000108 2016-10-01  2016-10       0           2
24     02296586000109 2017-04-01  2017-04       0           2
25     02645213000104 2017-02-01  2017-02       1           0
26     02709787000190 2017-03-01  2017-03       0           2
27     02921734000139 2016-08-01  2016-08       0           0
28     02955720000136 2017-05-01  2017-05       0           2
29     03323708000171 2017-02-01  2017-02       0           1
...               ...        ...      ...     ...         ...
65244  52618675000100 2016-10-01  2016-10       0           3
65245  52668134000189 2016-12-01  2016-12       0           2
65246  53477147000133 2017-02-01  2017-02       0           1
65247  53942934000109 2016-09-01  2016-09       0           2
65248  54824552000143 2017-02-01  2017-02       1           2
65249  56021645000165 2017-06-01  2017-06       0           0
65250  60700390000134 2016-11-01  2016-11       1           0
65251  61620944000156 2017-03-01  2017-03       0           3
65252  62204235000152 2016-09-01  2016-09       0           2
65253  62260260000153 2017-05-01  2017-05       0           0
65254  62568555000191 2017-05-01  2017-05       0           2
65255  62657168001446 2016-11-01  2016-11       0           0
65256  67646158000104 2017-02-01  2017-02       0           2
65257  68399682000190 2017-05-01  2017-05       0           2
65258  69610756000159 2017-05-01  2017-05       0           0
65259  71527329000153 2016-12-01  2016-12       0           3
65260  72113335000127 2017-01-01  2017-01       0           2
65261  72942758000150 2017-05-01  2017-05       0           2
65262  73432155000170 2016-10-01  2016-10       0           2
65263  81166266000100 2016-11-01  2016-11       0           2
65264  81406167000159 2017-01-01  2017-01       1           2
65265  82241324000186 2016-11-01  2016-11       0           2
65266  85043768000103 2016-11-01  2016-11       0           2
65267  85399434000169 2016-10-01  2016-10       0           2
65268  86109170000124 2016-09-01  2016-09       1           4
65269  87311288000101 2016-08-01  2016-08       0           3
65270  88195979000141 2016-08-01  2016-08       0           3
65271  91619130000162 2017-04-01  2017-04       0           2
65272  94361458000110 2016-11-01  2016-11       0           2
65273  97102503000100 2016-09-01  2016-09       0           0

[65274 rows x 5 columns]

<h1> 5) Quantidade de Filiais do Grupo</h1>

In [28]:
'''df_aux = df_base.select('CNPJ','REF_DATE').dropDuplicates()
df_aux = df_aux.withColumn('GRUPO_EMP',SF.col('CNPJ').substr(1, 8)).\
         withColumn('FILIAL',SF.col('CNPJ').substr(9, 4)).\
         groupBy('CNPJ','REF_DATE','GRUPO_EMP').agg(SF.max('FILIAL').alias('QTD_FILIAIS')).drop('GRUPO_EMP').sort(SF.desc('QTD_FILIAIS'))



df_aux.show(10)
'''

"df_aux = df_base.select('CNPJ','REF_DATE').dropDuplicates()\ndf_aux = df_aux.withColumn('GRUPO_EMP',SF.col('CNPJ').substr(1, 8)).         withColumn('FILIAL',SF.col('CNPJ').substr(9, 4)).         groupBy('CNPJ','REF_DATE','GRUPO_EMP').agg(SF.max('FILIAL').alias('QTD_FILIAIS')).drop('GRUPO_EMP').sort(SF.desc('QTD_FILIAIS'))\n\n\n\ndf_aux.show(10)\n"

In [29]:
#df_final = df_final.join(df_aux, ['CNPJ','REF_DATE'], 'left')
#df_final.limit(10).toPandas()

In [30]:
#df_final.orderBy("QTD_FILIAIS", ascending=False).show(10)

<h1> 6) Natureza Jurídica </h1>

In [31]:
df_aux = df_base.select('CNPJ','REF_DATE','NATUREZA_JURIDICA').dropDuplicates()
df_aux.limit(20).toPandas()

,CNPJ,REF_DATE,NATUREZA_JURIDICA
0,66749870000176,2016-12-01,SOCIEDADE EMPRESARIA LIMITADA
1,22556082000198,2016-07-01,SOCIEDADE EMPRESARIA LIMITADA
2,18969788000104,2016-10-01,SOCIEDADE EMPRESARIA LIMITADA
3,16714499000139,2017-05-01,SOCIEDADE EMPRESARIA LIMITADA
4,21961675000177,2017-01-01,EMPRESARIO (INDIVIDUAL)
5,18865759000100,2017-03-01,EMPRESARIO (INDIVIDUAL)
6,24153373000160,2017-04-01,SOCIEDADE EMPRESARIA LIMITADA
7,95821310000183,2017-01-01,COOPERATIVA
8,20968143000107,2016-12-01,EMPRESARIO (INDIVIDUAL)
9,09065539000101,2017-02-01,EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITAD...
10,19065172000171,2017-05-01,SOCIEDADE EMPRESARIA LIMITADA
11,07688188000151,2016-09-01,SOCIEDADE EMPRESARIA LIMITADA
12,04899590000197,2016-10-01,SOCIEDADE EMPRESARIA LIMITADA
13,97238125000196,2016-12-01,EMPRESARIO (INDIVIDUAL)
14,07537616000145,2016-10-01,SOCIEDADE EMPRESARIA LIMITADA
15,44906709000126,2016-11-01,SOCIEDADE EMPRESARIA LIMITADA
16,04143323000195,2016-12-01,EMPRESARIO (INDIVIDUAL)
17,26706977000112,2017-04-01,SOCIEDADE EMPRESARIA LIMITADA
18,08945358000107,2016-09-01,EMPRESARIO (INDIVIDUAL)
19,21018622000117,2016-08-01,SOCIEDADE EMPRESARIA LIMITADA

In [32]:
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )
df_final.limit(10).toPandas()

,CNPJ,REF_DATE,DATA_REF,CS_ALVO,QTD_SOCIOS,NATUREZA_JURIDICA
0,00004330000155,2016-10-01,2016-10,0,1,EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITAD...
1,00078090000133,2017-03-01,2017-03,0,2,SOCIEDADE EMPRESARIA LIMITADA
2,00109982000154,2016-09-01,2016-09,1,2,SOCIEDADE EMPRESARIA LIMITADA
3,00281129000115,2017-06-01,2017-06,0,3,SOCIEDADE EMPRESARIA LIMITADA
4,00294916000100,2017-02-01,2017-02,0,0,EMPRESARIO (INDIVIDUAL)
5,00370197000150,2016-11-01,2016-11,1,3,SOCIEDADE EMPRESARIA LIMITADA
6,00711050000187,2016-11-01,2016-11,0,0,EMPRESARIO (INDIVIDUAL)
7,00951519000155,2017-01-01,2017-01,0,0,EMPRESARIO (INDIVIDUAL)
8,00984383000180,2016-09-01,2016-09,0,1,SOCIEDADE EMPRESARIA LIMITADA
9,01013673000149,2017-02-01,2017-02,0,2,SOCIEDADE EMPRESARIA LIMITADA

<h1> Idade da Empresa </h1>

In [33]:
df_aux = df_base.select('CNPJ','REF_DATE','ABERTURA').dropDuplicates()
df_aux = df_aux.withColumn('ABERTURA',SF.col('ABERTURA').cast('timestamp'))
df_aux = df_aux.withColumn('IDADE',SF.col('REF_DATE').cast("long")-SF.col('ABERTURA').cast("long")).drop('ABERTURA')

df_aux.show(5)

+--------------+-------------------+---------+
|          CNPJ|           REF_DATE|    IDADE|
+--------------+-------------------+---------+
|18199343000192|2017-03-01 00:00:00|119070000|
|18919730000156|2017-06-01 00:00:00|116737200|
|11074264000106|2017-04-01 00:00:00|242190000|
|04359955000190|2016-08-01 00:00:00|484369200|
|15583915000144|2016-08-01 00:00:00|132980400|
+--------------+-------------------+---------+
only showing top 5 rows

In [34]:
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )
df_final.limit(10).toPandas()

,CNPJ,REF_DATE,DATA_REF,CS_ALVO,QTD_SOCIOS,NATUREZA_JURIDICA,IDADE
0,00004330000155,2016-10-01,2016-10,0,1,EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITAD...,706244400
1,00078090000133,2017-03-01,2017-03,0,2,SOCIEDADE EMPRESARIA LIMITADA,718081200
2,00109982000154,2016-09-01,2016-09,1,2,SOCIEDADE EMPRESARIA LIMITADA,698814000
3,00281129000115,2017-06-01,2017-06,0,3,SOCIEDADE EMPRESARIA LIMITADA,712465200
4,00294916000100,2017-02-01,2017-02,0,0,EMPRESARIO (INDIVIDUAL),701492400
5,00370197000150,2016-11-01,2016-11,1,3,SOCIEDADE EMPRESARIA LIMITADA,1351047600
6,00711050000187,2016-11-01,2016-11,0,0,EMPRESARIO (INDIVIDUAL),674276400
7,00951519000155,2017-01-01,2017-01,0,0,EMPRESARIO (INDIVIDUAL),665204400
8,00984383000180,2016-09-01,2016-09,0,1,SOCIEDADE EMPRESARIA LIMITADA,652590000
9,01013673000149,2017-02-01,2017-02,0,2,SOCIEDADE EMPRESARIA LIMITADA,670129200

<h1> Capital Social </h1>

In [35]:
df.select('CAPITAL_SOCIAL').summary().show()

+-------+-------------------+
|summary|     CAPITAL_SOCIAL|
+-------+-------------------+
|  count|             214685|
|   mean| 1675295.2094820316|
| stddev|7.994737990014492E7|
|    min|                0.0|
|    25%|             5000.0|
|    50%|            20000.0|
|    75%|            60000.0|
|    max|          9999944.0|
+-------+-------------------+

In [36]:
df.select('CAPITAL_SOCIAL','NATUREZA_JURIDICA').filter(SF.col('CAPITAL_SOCIAL')==0).show(20,False)

+--------------+-----------------------------+
|CAPITAL_SOCIAL|NATUREZA_JURIDICA            |
+--------------+-----------------------------+
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
|0.0           |EMPRESARIO (INDIVIDUAL)      |
|0.0           |EMPRESARIO (INDIVIDUAL)      |
|0.0           |EMPRESARIO (INDIVIDUAL)      |
|0.0           |SOCIEDADE EMPRESARIA LIMITADA|
+--------------+-----------------------------+
only showing top 20 rows

In [37]:
df_aux = df_base.select('CNPJ','REF_DATE','CAPITAL_SOCIAL').dropDuplicates()
df_aux.show(50)

+--------------+-------------------+--------------+
|          CNPJ|           REF_DATE|CAPITAL_SOCIAL|
+--------------+-------------------+--------------+
|00302268000188|2016-08-01 00:00:00|        5000.0|
|06096520000126|2016-11-01 00:00:00|           0.0|
|24577838000100|2017-05-01 00:00:00|       20000.0|
|24307783000119|2016-12-01 00:00:00|       20000.0|
|03010577000172|2016-10-01 00:00:00|       10000.0|
|00093055000193|2017-04-01 00:00:00|       10000.0|
|24714083000149|2016-11-01 00:00:00|      600000.0|
|09449193000137|2016-09-01 00:00:00|       20000.0|
|15359390000168|2016-08-01 00:00:00|       10000.0|
|03614341000145|2017-03-01 00:00:00|           0.0|
|14449434000188|2016-08-01 00:00:00|       30000.0|
|08511882000161|2017-03-01 00:00:00|        5000.0|
|20329263000156|2016-12-01 00:00:00|       30000.0|
|15268534000170|2016-09-01 00:00:00|       10000.0|
|07755174000103|2016-12-01 00:00:00|       10000.0|
|00308823000189|2016-10-01 00:00:00|      170000.0|
|12035210000102|2016-11-01 00:00:00|           0.0|
|06261400000137|2016-11-01 00:00:00|           0.0|
|25187075000154|2016-11-01 00:00:00|       15000.0|
|87109856000188|2016-11-01 00:00:00|       10000.0|
|24776125000176|2016-10-01 00:00:00|       30000.0|
|11750818000148|2016-08-01 00:00:00|       15000.0|
|04755167000113|2017-01-01 00:00:00|       96000.0|
|23834804000191|2017-04-01 00:00:00|       25000.0|
|02709787000190|2017-03-01 00:00:00|           0.0|
|60992146000273|2016-10-01 00:00:00|      350000.0|
|72731649000193|2016-08-01 00:00:00|           0.0|
|05885360000131|2016-11-01 00:00:00|           0.0|
|55507487000195|2017-03-01 00:00:00|       30000.0|
|08225172000256|2017-04-01 00:00:00|           0.0|
|16809168000182|2016-12-01 00:00:00|           1.0|
|17129523000135|2016-12-01 00:00:00|       20000.0|
|00655106000123|2016-12-01 00:00:00|           0.0|
|48667000000176|2017-05-01 00:00:00|           0.0|
|25531969000110|2017-05-01 00:00:00|      200000.0|
|25163045000108|2016-07-01 00:00:00|        5000.0|
|14879215000139|2017-05-01 00:00:00|       93700.0|
|15442679000146|2017-04-01 00:00:00|           1.0|
|23912942000141|2016-08-01 00:00:00|       15000.0|
|03929872000127|2016-07-01 00:00:00|       25000.0|
|24786205000102|2017-04-01 00:00:00|       88000.0|
|10550360000110|2017-05-01 00:00:00|       20000.0|
|64313869000179|2017-02-01 00:00:00|        5000.0|
|14143571000190|2016-12-01 00:00:00|       15000.0|
|14128786000131|2017-04-01 00:00:00|       30000.0|
|13723957000108|2017-04-01 00:00:00|       40000.0|
|19533262000140|2017-02-01 00:00:00|       50000.0|
|01519405000101|2016-08-01 00:00:00|           0.0|
|18581949000198|2017-06-01 00:00:00|      400000.0|
|09153590000167|2017-03-01 00:00:00|      227272.0|
+--------------+-------------------+--------------+
only showing top 50 rows

In [38]:
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )
df_final.limit(10).toPandas()

,CNPJ,REF_DATE,DATA_REF,CS_ALVO,QTD_SOCIOS,NATUREZA_JURIDICA,IDADE,CAPITAL_SOCIAL
0,00004330000155,2016-10-01,2016-10,0,1,EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITAD...,706244400,90000.0
1,00078090000133,2017-03-01,2017-03,0,2,SOCIEDADE EMPRESARIA LIMITADA,718081200,0.0
2,00109982000154,2016-09-01,2016-09,1,2,SOCIEDADE EMPRESARIA LIMITADA,698814000,10000.0
3,00281129000115,2017-06-01,2017-06,0,3,SOCIEDADE EMPRESARIA LIMITADA,712465200,30000.0
4,00294916000100,2017-02-01,2017-02,0,0,EMPRESARIO (INDIVIDUAL),701492400,0.0
5,00370197000150,2016-11-01,2016-11,1,3,SOCIEDADE EMPRESARIA LIMITADA,1351047600,100000.0
6,00711050000187,2016-11-01,2016-11,0,0,EMPRESARIO (INDIVIDUAL),674276400,0.0
7,00951519000155,2017-01-01,2017-01,0,0,EMPRESARIO (INDIVIDUAL),665204400,0.0
8,00984383000180,2016-09-01,2016-09,0,1,SOCIEDADE EMPRESARIA LIMITADA,652590000,100000.0
9,01013673000149,2017-02-01,2017-02,0,2,SOCIEDADE EMPRESARIA LIMITADA,670129200,0.0

<h1> Tipo (Matriz ou Filial) </h1>

In [39]:
df_aux = df_base.select('CNPJ','REF_DATE','TIPO').dropDuplicates()
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )
df_final.limit(10).toPandas()

,CNPJ,REF_DATE,DATA_REF,CS_ALVO,QTD_SOCIOS,NATUREZA_JURIDICA,IDADE,CAPITAL_SOCIAL,TIPO
0,00004330000155,2016-10-01,2016-10,0,1,EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITAD...,706244400,90000.0,MATRIZ
1,00078090000133,2017-03-01,2017-03,0,2,SOCIEDADE EMPRESARIA LIMITADA,718081200,0.0,MATRIZ
2,00109982000154,2016-09-01,2016-09,1,2,SOCIEDADE EMPRESARIA LIMITADA,698814000,10000.0,MATRIZ
3,00281129000115,2017-06-01,2017-06,0,3,SOCIEDADE EMPRESARIA LIMITADA,712465200,30000.0,MATRIZ
4,00294916000100,2017-02-01,2017-02,0,0,EMPRESARIO (INDIVIDUAL),701492400,0.0,MATRIZ
5,00370197000150,2016-11-01,2016-11,1,3,SOCIEDADE EMPRESARIA LIMITADA,1351047600,100000.0,MATRIZ
6,00711050000187,2016-11-01,2016-11,0,0,EMPRESARIO (INDIVIDUAL),674276400,0.0,MATRIZ
7,00951519000155,2017-01-01,2017-01,0,0,EMPRESARIO (INDIVIDUAL),665204400,0.0,MATRIZ
8,00984383000180,2016-09-01,2016-09,0,1,SOCIEDADE EMPRESARIA LIMITADA,652590000,100000.0,MATRIZ
9,01013673000149,2017-02-01,2017-02,0,2,SOCIEDADE EMPRESARIA LIMITADA,670129200,0.0,MATRIZ

In [40]:
df_final.show(100,False)

+--------------+-------------------+--------+-------+----------+------------------------------------------------------------------------+----------+--------------+------+
|CNPJ          |REF_DATE           |DATA_REF|CS_ALVO|QTD_SOCIOS|NATUREZA_JURIDICA                                                       |IDADE     |CAPITAL_SOCIAL|TIPO  |
+--------------+-------------------+--------+-------+----------+------------------------------------------------------------------------+----------+--------------+------+
|00004330000155|2016-10-01 00:00:00|2016-10 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|706244400 |90000.0       |MATRIZ|
|00078090000133|2017-03-01 00:00:00|2017-03 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |718081200 |0.0           |MATRIZ|
|00109982000154|2016-09-01 00:00:00|2016-09 |1      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |698814000 |10000.0       |MATRIZ|
|00281129000115|2017-06-01 00:00:00|2017-06 |0      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |712465200 |30000.0       |MATRIZ|
|00294916000100|2017-02-01 00:00:00|2017-02 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |701492400 |0.0           |MATRIZ|
|00370197000150|2016-11-01 00:00:00|2016-11 |1      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |1351047600|100000.0      |MATRIZ|
|00711050000187|2016-11-01 00:00:00|2016-11 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |674276400 |0.0           |MATRIZ|
|00951519000155|2017-01-01 00:00:00|2017-01 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |665204400 |0.0           |MATRIZ|
|00984383000180|2016-09-01 00:00:00|2016-09 |0      |1         |SOCIEDADE EMPRESARIA LIMITADA                                           |652590000 |100000.0      |MATRIZ|
|01013673000149|2017-02-01 00:00:00|2017-02 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |670129200 |0.0           |MATRIZ|
|01024580000110|2016-09-01 00:00:00|2016-09 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |650430000 |0.0           |MATRIZ|
|01163316000167|2017-01-01 00:00:00|2017-01 |0      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |653367600 |10000.0       |MATRIZ|
|01252815000120|2016-07-01 00:00:00|2016-07 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|636346800 |100000.0      |MATRIZ|
|01358637000117|2017-05-01 00:00:00|2017-05 |0      |1         |SOCIEDADE EMPRESARIA LIMITADA                                           |654836400 |0.0           |MATRIZ|
|01469354000142|2017-01-01 00:00:00|2017-01 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|639198000 |100000.0      |MATRIZ|
|01689785000114|2017-02-01 00:00:00|2017-02 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |984625200 |10000.0       |MATRIZ|
|01805386000171|2017-03-01 00:00:00|2017-03 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |626410800 |30000.0       |MATRIZ|
|01836357001653|2017-04-01 00:00:00|2017-04 |0      |0         |SOCIEDADE EMPRESARIA LIMITADA                                           |12798000  |0.0           |FILIAL|
|01864042000133|2017-01-01 00:00:00|2017-01 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |619585200 |10000.0       |MATRIZ|
|02026313000144|2016-10-01 00:00:00|2016-10 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |605847600 |200000.0      |MATRIZ|
|02046623000120|2017-01-01 00:00:00|2017-01 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |612500400 |20000.0       |MATRIZ|
|02065957000141|2017-04-01 00:00:00|2017-04 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |619585200 |0.0           |MATRIZ|
|02141242000120|2017-03-01 00:00:00|2017-03 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |613191600 |0.0           |MATRIZ|
|02267397000108|2016-10-01 00:00:00|2016-10 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |607575600 |15000.0       |MATRIZ|
|02296586000109|2017-04-01 00:00:00|2017-04 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |611290800 |10000.0       |MATRIZ|
|02645213000104|2017-02-01 00:00:00|2017-02 |1      |0         |EMPRESARIO (INDIVIDUAL)                                                 |584852400 |0.0           |MATRIZ|
|02709787000190|2017-03-01 00:00:00|2017-03 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |584334000 |0.0           |MATRIZ|
|02921734000139|2016-08-01 00:00:00|2016-08 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |554353200 |0.0           |MATRIZ|
|02955720000136|2017-05-01 00:00:00|2017-05 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |580014000 |80000.0       |MATRIZ|
|03323708000171|2017-02-01 00:00:00|2017-02 |0      |1         |SOCIEDADE EMPRESARIA LIMITADA                                           |553575600 |15000.0       |MATRIZ|
|03345133000198|2016-08-01 00:00:00|2016-08 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |566017200 |50000.0       |MATRIZ|
|03349324000128|2017-04-01 00:00:00|2017-04 |0      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |556772400 |350000.0      |MATRIZ|
|03369520000164|2016-07-01 00:00:00|2016-07 |1      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |531630000 |100000.0      |MATRIZ|
|03406066000174|2016-09-01 00:00:00|2016-09 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |534740400 |0.0           |MATRIZ|
|03406077000154|2016-07-01 00:00:00|2016-07 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |529556400 |50000.0       |MATRIZ|
|03426804000145|2016-11-01 00:00:00|2016-11 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |539492400 |30000.0       |MATRIZ|
|03489753000109|2016-08-01 00:00:00|2016-08 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |528346800 |90000.0       |MATRIZ|
|03535785000195|2016-11-01 00:00:00|2016-11 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |533962800 |0.0           |MATRIZ|
|03838465000295|2017-05-01 00:00:00|2017-05 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |485578800 |0.0           |FILIAL|
|03960877000112|2016-08-01 00:00:00|2016-08 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |505882800 |56000.0       |MATRIZ|
|03972067000186|2016-09-01 00:00:00|2016-09 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |508042800 |30000.0       |MATRIZ|
|04074081000125|2017-06-01 00:00:00|2017-06 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |527482800 |0.0           |MATRIZ|
|04232075000159|2017-01-01 00:00:00|2017-01 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |503982000 |0.0           |MATRIZ|
|04261023000100|2016-08-01 00:00:00|2016-08 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |490158000 |0.0           |MATRIZ|
|04296392000139|2017-04-01 00:00:00|2017-04 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |508906800 |210000.0      |MATRIZ|
|04297091000120|2016-09-01 00:00:00|2016-09 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |507524400 |0.0           |MATRIZ|
|04320005000152|2016-10-01 00:00:00|2016-10 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |491540400 |0.0           |MATRIZ|
|04342629000170|2017-02-01 00:00:00|2017-02 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |505537200 |0.0           |MATRIZ|
|04356210000178|2017-01-01 00:00:00|2017-01 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |498106800 |0.0           |MATRIZ|
|04413482000162|2017-06-01 00:00:00|2017-06 |0      |1         |SOCIEDADE EMPRESARIA LIMITADA                                           |508129200 |30000.0       |MATRIZ|
|04732037000165|2017-06-01 00:00:00|2017-06 |1      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |493614000 |0.0           |MATRIZ|
|04740820000170|2016-08-01 00:00:00|2016-08 |0      |1         |SOCIEDADE EMPRESARIA LIMITADA                                           |466657200 |0.0           |MATRIZ|
|04766312000161|2017-06-01 00:00:00|2017-06 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |491367600 |50000.0       |MATRIZ|
|04767192000117|2017-04-01 00:00:00|2017-04 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |485838000 |20000.0       |MATRIZ|
|04905515000191|2016-11-01 00:00:00|2016-11 |1      |0         |EMPRESARIO (INDIVIDUAL)                                                 |465015600 |0.0           |MATRIZ|
|05094247000138|2017-05-01 00:00:00|2017-05 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |470804400 |0.0           |MATRIZ|
|05140542000183|2017-01-01 00:00:00|2017-01 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |457671600 |0.0           |MATRIZ|
|05198620000109|2017-03-01 00:00:00|2017-03 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |461473200 |0.0           |MATRIZ|
|05290534000113|2016-11-01 00:00:00|2016-11 |1      |0         |EMPRESARIO (INDIVIDUAL)                                                 |445748400 |10000.0       |MATRIZ|
|05295646000167|2017-02-01 00:00:00|2017-02 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |453438000 |0.0           |MATRIZ|
|05358729000158|2017-05-01 00:00:00|2017-05 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |459486000 |0.0           |MATRIZ|
|05487314000184|2016-09-01 00:00:00|2016-09 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |431838000 |0.0           |MATRIZ|
|05518032000105|2017-04-01 00:00:00|2017-04 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|446094000 |100000.0      |MATRIZ|
|05686717000152|2017-03-01 00:00:00|2017-03 |0      |5         |SOCIEDADE EMPRESARIA LIMITADA                                           |433566000 |15000.0       |MATRIZ|
|05699583000104|2016-08-01 00:00:00|2016-08 |0      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |414298800 |10000.0       |MATRIZ|
|05704842000148|2016-08-01 00:00:00|2016-08 |1      |0         |EMPRESARIO (INDIVIDUAL)                                                 |414817200 |0.0           |MATRIZ|
|05754292000171|2016-10-01 00:00:00|2016-10 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |418014000 |0.0           |MATRIZ|
|05759021000109|2017-05-01 00:00:00|2017-05 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |436071600 |9000.0        |MATRIZ|
|05775282000112|2016-09-01 00:00:00|2016-09 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |414385200 |0.0           |MATRIZ|
|05899599000160|2017-05-01 00:00:00|2017-05 |1      |1         |SOCIEDADE EMPRESARIA LIMITADA                                           |429678000 |10000.0       |MATRIZ|
|06049922000170|2017-03-01 00:00:00|2017-03 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |415594800 |0.0           |MATRIZ|
|06142597000195|2017-04-01 00:00:00|2017-04 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |414126000 |0.0           |MATRIZ|
|06220526000163|2017-02-01 00:00:00|2017-02 |0      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |403844400 |0.0           |MATRIZ|
|06279960000119|2016-10-01 00:00:00|2016-10 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |395031600 |0.0           |MATRIZ|
|06282330000101|2016-10-01 00:00:00|2016-10 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |391057200 |40000.0       |MATRIZ|
|06975493000242|2016-09-01 00:00:00|2016-09 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|103690800 |200000.0      |FILIAL|
|07177514000166|2017-02-01 00:00:00|2017-02 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |380602800 |0.0           |MATRIZ|
|07248383000160|2017-04-01 00:00:00|2017-04 |0      |4         |SOCIEDADE EMPRESARIA LIMITADA                                           |382417200 |10000.0       |MATRIZ|
|07274297000122|2016-08-01 00:00:00|2016-08 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|358657200 |93700.0       |MATRIZ|
|07330769000117|2017-01-01 00:00:00|2017-01 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |369802800 |100000.0      |MATRIZ|
|07489810000100|2016-09-01 00:00:00|2016-09 |1      |0         |EMPRESARIO (INDIVIDUAL)                                                 |351399600 |0.0           |MATRIZ|
|07497152000190|2017-01-01 00:00:00|2017-01 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |361940400 |10000.0       |MATRIZ|
|07558813000140|2017-02-01 00:00:00|2017-02 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |360558000 |5000.0        |MATRIZ|
|07560969000166|2017-06-01 00:00:00|2017-06 |0      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |376369200 |0.0           |MATRIZ|
|07575470000122|2016-07-01 00:00:00|2016-07 |0      |2         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|346906800 |443520.0      |MATRIZ|
|07685311000180|2017-06-01 00:00:00|2017-06 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA SIMPLES)   |365223600 |10000.0       |MATRIZ|
|07834841000143|2017-01-01 00:00:00|2017-01 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |343796400 |100000.0      |MATRIZ|
|07879386000100|2017-02-01 00:00:00|2017-02 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |347252400 |10000.0       |MATRIZ|
|08064872000125|2017-01-01 00:00:00|2017-01 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |333774000 |10000.0       |MATRIZ|
|08621488000186|2016-07-01 00:00:00|2016-07 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |297226800 |20000.0       |MATRIZ|
|08625914000150|2016-07-01 00:00:00|2016-07 |0      |0         |SOCIEDADE EMPRESARIA LIMITADA                                           |298177200 |0.0           |MATRIZ|
|08786240000175|2016-08-01 00:00:00|2016-08 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |296190000 |20000.0       |MATRIZ|
|08845874000151|2017-03-01 00:00:00|2017-03 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |308631600 |20000.0       |MATRIZ|
|08923585000123|2016-09-01 00:00:00|2016-09 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |289105200 |10000.0       |MATRIZ|
|08946944000168|2016-11-01 00:00:00|2016-11 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |293684400 |10000.0       |MATRIZ|
|08974033000144|2016-08-01 00:00:00|2016-08 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |284785200 |30000.0       |MATRIZ|
|08981904000157|2016-09-01 00:00:00|2016-09 |0      |0         |SOCIEDADE EMPRESARIA LIMITADA                                           |1009940400|20000.0       |MATRIZ|
|09077349000104|2017-03-01 00:00:00|2017-03 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |303447600 |15000.0       |MATRIZ|
|09134912000120|2016-10-01 00:00:00|2016-10 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |286340400 |100000.0      |MATRIZ|
|09259350000141|2016-12-01 00:00:00|2016-12 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |287550000 |10000.0       |MATRIZ|
+--------------+-------------------+--------+-------+----------+------------------------------------------------------------------------+----------+--------------+------+
only showing top 100 rows

<h1> Situação </h1>

In [41]:
df_aux = df_base.select('CNPJ','REF_DATE','SITUACAO').dropDuplicates()
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )

<h1> Atividade Principal </h1>

In [42]:
df_aux = df_base.select('CNPJ','REF_DATE','ATIVIDADE_PRINCIPAL').dropDuplicates()
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )
df_final.show(20,False)

+--------------+-------------------+--------+-------+----------+------------------------------------------------------------------------+----------+--------------+------+--------+----------------------------------------------------------------------------------------------------------------------------+
|CNPJ          |REF_DATE           |DATA_REF|CS_ALVO|QTD_SOCIOS|NATUREZA_JURIDICA                                                       |IDADE     |CAPITAL_SOCIAL|TIPO  |SITUACAO|ATIVIDADE_PRINCIPAL                                                                                                         |
+--------------+-------------------+--------+-------+----------+------------------------------------------------------------------------+----------+--------------+------+--------+----------------------------------------------------------------------------------------------------------------------------+
|00004330000155|2016-10-01 00:00:00|2016-10 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|706244400 |90000.0       |MATRIZ|ATIVA   |RESTAURANTES E SIMILARES                                                                                                    |
|00078090000133|2017-03-01 00:00:00|2017-03 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |718081200 |0.0           |MATRIZ|ATIVA   |BARES E OUTROS ESTABELECIMENTOS ESPECIALIZADOS EM SERVIR BEBIDAS                                                            |
|00109982000154|2016-09-01 00:00:00|2016-09 |1      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |698814000 |10000.0       |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - MINIMERCADOS, MERCEARIAS E ARMAZENS|
|00281129000115|2017-06-01 00:00:00|2017-06 |0      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |712465200 |30000.0       |MATRIZ|ATIVA   |PADARIA E CONFEITARIA COM PREDOMINNCIA DE REVENDA                                                                           |
|00294916000100|2017-02-01 00:00:00|2017-02 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |701492400 |0.0           |MATRIZ|ATIVA   |LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES                                                                             |
|00370197000150|2016-11-01 00:00:00|2016-11 |1      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |1351047600|100000.0      |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - HIPERMERCADOS                      |
|00711050000187|2016-11-01 00:00:00|2016-11 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |674276400 |0.0           |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE HORTIFRUTIGRANJEIROS                                                                                  |
|00951519000155|2017-01-01 00:00:00|2017-01 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |665204400 |0.0           |MATRIZ|ATIVA   |PADARIA E CONFEITARIA COM PREDOMINANCIA DE REVENDA                                                                          |
|00984383000180|2016-09-01 00:00:00|2016-09 |0      |1         |SOCIEDADE EMPRESARIA LIMITADA                                           |652590000 |100000.0      |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - SUPERMERCADOS                      |
|01013673000149|2017-02-01 00:00:00|2017-02 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |670129200 |0.0           |MATRIZ|ATIVA   |LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES                                                                             |
|01024580000110|2016-09-01 00:00:00|2016-09 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |650430000 |0.0           |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE BEBIDAS                                                                                               |
|01163316000167|2017-01-01 00:00:00|2017-01 |0      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |653367600 |10000.0       |MATRIZ|ATIVA   |RESTAURANTES E SIMILARES                                                                                                    |
|01252815000120|2016-07-01 00:00:00|2016-07 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|636346800 |100000.0      |MATRIZ|ATIVA   |PADARIA E CONFEITARIA COM PREDOMINANCIA DE REVENDA                                                                          |
|01358637000117|2017-05-01 00:00:00|2017-05 |0      |1         |SOCIEDADE EMPRESARIA LIMITADA                                           |654836400 |0.0           |MATRIZ|ATIVA   |LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES                                                                             |
|01469354000142|2017-01-01 00:00:00|2017-01 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|639198000 |100000.0      |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - SUPERMERCADOS                      |
|01689785000114|2017-02-01 00:00:00|2017-02 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |984625200 |10000.0       |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - SUPERMERCADOS                      |
|01805386000171|2017-03-01 00:00:00|2017-03 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |626410800 |30000.0       |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE CARNES - ACOUGUES                                                                                     |
|01836357001653|2017-04-01 00:00:00|2017-04 |0      |0         |SOCIEDADE EMPRESARIA LIMITADA                                           |12798000  |0.0           |FILIAL|ATIVA   |LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES                                                                             |
|01864042000133|2017-01-01 00:00:00|2017-01 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |619585200 |10000.0       |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE HORTIFRUTIGRANJEIROS                                                                                  |
|02026313000144|2016-10-01 00:00:00|2016-10 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |605847600 |200000.0      |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - SUPERMERCADOS                      |
+--------------+-------------------+--------+-------+----------+------------------------------------------------------------------------+----------+--------------+------+--------+----------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

<h1> Unidade Federativa </h1>

In [47]:
df.groupby('UF').count().orderBy('count').show(30)

+----+-----+
|  UF|count|
+----+-----+
|  RR|  112|
|  AP|  129|
|  AC|  161|
|  TO|  502|
|  RO|  510|
|  PI|  555|
|  SE|  675|
|  AL|  675|
|  MA|  859|
|  RN|  875|
|  PB| 1115|
|  AM| 1123|
|  PA| 1342|
|  MS| 1602|
|  MT| 1623|
|  CE| 3280|
|  ES| 4203|
|  DF| 4284|
|  GO| 4312|
|  PE| 5080|
|  BA| 7906|
|  SC| 8411|
|null| 9013|
|  RS|13363|
|  PR|14587|
|  MG|20187|
|  RJ|25541|
|  SP|82660|
+----+-----+

In [48]:
df_aux = df_base.select('CNPJ','REF_DATE','UF').dropDuplicates()
df_final = df_final.join(df_aux,['CNPJ','REF_DATE'], 'left' )
df_final.show(20,False)

+--------------+-------------------+--------+-------+----------+------------------------------------------------------------------------+----------+--------------+------+--------+----------------------------------------------------------------------------------------------------------------------------+---+
|CNPJ          |REF_DATE           |DATA_REF|CS_ALVO|QTD_SOCIOS|NATUREZA_JURIDICA                                                       |IDADE     |CAPITAL_SOCIAL|TIPO  |SITUACAO|ATIVIDADE_PRINCIPAL                                                                                                         |UF |
+--------------+-------------------+--------+-------+----------+------------------------------------------------------------------------+----------+--------------+------+--------+----------------------------------------------------------------------------------------------------------------------------+---+
|00004330000155|2016-10-01 00:00:00|2016-10 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|706244400 |90000.0       |MATRIZ|ATIVA   |RESTAURANTES E SIMILARES                                                                                                    |SP |
|00078090000133|2017-03-01 00:00:00|2017-03 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |718081200 |0.0           |MATRIZ|ATIVA   |BARES E OUTROS ESTABELECIMENTOS ESPECIALIZADOS EM SERVIR BEBIDAS                                                            |RS |
|00109982000154|2016-09-01 00:00:00|2016-09 |1      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |698814000 |10000.0       |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - MINIMERCADOS, MERCEARIAS E ARMAZENS|SP |
|00281129000115|2017-06-01 00:00:00|2017-06 |0      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |712465200 |30000.0       |MATRIZ|ATIVA   |PADARIA E CONFEITARIA COM PREDOMINNCIA DE REVENDA                                                                           |SP |
|00294916000100|2017-02-01 00:00:00|2017-02 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |701492400 |0.0           |MATRIZ|ATIVA   |LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES                                                                             |SP |
|00370197000150|2016-11-01 00:00:00|2016-11 |1      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |1351047600|100000.0      |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - HIPERMERCADOS                      |DF |
|00711050000187|2016-11-01 00:00:00|2016-11 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |674276400 |0.0           |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE HORTIFRUTIGRANJEIROS                                                                                  |MG |
|00951519000155|2017-01-01 00:00:00|2017-01 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |665204400 |0.0           |MATRIZ|ATIVA   |PADARIA E CONFEITARIA COM PREDOMINANCIA DE REVENDA                                                                          |SP |
|00984383000180|2016-09-01 00:00:00|2016-09 |0      |1         |SOCIEDADE EMPRESARIA LIMITADA                                           |652590000 |100000.0      |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - SUPERMERCADOS                      |PR |
|01013673000149|2017-02-01 00:00:00|2017-02 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |670129200 |0.0           |MATRIZ|ATIVA   |LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES                                                                             |RJ |
|01024580000110|2016-09-01 00:00:00|2016-09 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |650430000 |0.0           |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE BEBIDAS                                                                                               |SP |
|01163316000167|2017-01-01 00:00:00|2017-01 |0      |3         |SOCIEDADE EMPRESARIA LIMITADA                                           |653367600 |10000.0       |MATRIZ|ATIVA   |RESTAURANTES E SIMILARES                                                                                                    |SP |
|01252815000120|2016-07-01 00:00:00|2016-07 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|636346800 |100000.0      |MATRIZ|ATIVA   |PADARIA E CONFEITARIA COM PREDOMINANCIA DE REVENDA                                                                          |MG |
|01358637000117|2017-05-01 00:00:00|2017-05 |0      |1         |SOCIEDADE EMPRESARIA LIMITADA                                           |654836400 |0.0           |MATRIZ|ATIVA   |LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES                                                                             |SP |
|01469354000142|2017-01-01 00:00:00|2017-01 |0      |1         |EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA (DE NATUREZA EMPRESARIA)|639198000 |100000.0      |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - SUPERMERCADOS                      |SP |
|01689785000114|2017-02-01 00:00:00|2017-02 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |984625200 |10000.0       |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - SUPERMERCADOS                      |GO |
|01805386000171|2017-03-01 00:00:00|2017-03 |0      |0         |EMPRESARIO (INDIVIDUAL)                                                 |626410800 |30000.0       |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE CARNES - ACOUGUES                                                                                     |MG |
|01836357001653|2017-04-01 00:00:00|2017-04 |0      |0         |SOCIEDADE EMPRESARIA LIMITADA                                           |12798000  |0.0           |FILIAL|ATIVA   |LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES                                                                             |SP |
|01864042000133|2017-01-01 00:00:00|2017-01 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |619585200 |10000.0       |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE HORTIFRUTIGRANJEIROS                                                                                  |MG |
|02026313000144|2016-10-01 00:00:00|2016-10 |0      |2         |SOCIEDADE EMPRESARIA LIMITADA                                           |605847600 |200000.0      |MATRIZ|ATIVA   |COMERCIO VAREJISTA DE MERCADORIAS EM GERAL, COM PREDOMINANCIA DE PRODUTOS ALIMENTICIOS - SUPERMERCADOS                      |MG |
+--------------+-------------------+--------+-------+----------+------------------------------------------------------------------------+----------+--------------+------+--------+----------------------------------------------------------------------------------------------------------------------------+---+
only showing top 20 rows