In [1]:
'''
Machine Learning para Analise de Dados
CESAR Scholl
Projeto de analise de credito
Recife, 2019


Equipe:
    Claudio Alves Monteiro
    Marcos Antonio Almeida Souto Júnior
    Virgínia Heimann
    Kayo Renato
    Rosely
'''

'\nMachine Learning para Analise de Dados\nCESAR Scholl\nProjeto de analise de credito\nRecife, 2019\n\n\nEquipe:\n    Claudio Alves Monteiro\n    Marcos Antonio Almeida Souto Júnior\n    Virgínia Heimann\n    Kayo Renato\n    Rosely\n'

In [2]:
# no Spark SQL importa SparkSession enquanto no RDD importa o SparkContext
from pyspark.sql import SparkSession, Row
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
# import modules
import os
import pandas as pd
from pyspark.sql import functions as SF
import pyspark.sql.types as ST

# paths to spark and python3
os.environ['PYSPARK_SUBMIT_ARGS'] = '--executor-memory 1G pyspark-shell'
os.environ["SPARK_HOME"] = "/home/pacha/spark"
os.environ["PYSPARK_PYTHON"]="/usr/bin/python3"

In [4]:
# import data

df = spark.read.csv('data/BASE_JUR001.csv',
                    sep='\t',
                    encoding='utf-8',
                    header=True,
                    inferSchema=False)


df_cursor = spark.read.csv('data/Base_Des-TRN',
                    sep='\t',
                    encoding='utf-8',
                    header=True,
                    inferSchema=False)

In [5]:
#=========================#
# descriptive statistics
#========================#

df.groupby('NATUREZA_JURIDICA').count().show(100)

df.groupby('ATIVIDADE_PRINCIPAL').count().show(100)

df.groupby('ATIVIDADES_SECUNDARIAS').count().show(100)

df.groupby('TIPO').count().show(100)

df.groupby('CARGO').count().show(100)

+--------------------+------+
|   NATUREZA_JURIDICA| count|
+--------------------+------+
|SOCIEDADE ANONIMA...|   381|
|SOCIEDADE EMPRESA...|    14|
|         COOPERATIVA|   289|
|EMPRESA INDIVIDUA...|     9|
|EMPRESARIO (INDIV...| 48218|
|SERVICO SOCIAL AU...|    10|
|EMPRESA INDIVIDUA...| 14925|
|SOCIEDADE EMPRESA...|150601|
|SOCIEDADE SIMPLES...|    29|
|ORGANIZACAO RELIG...|     2|
|SOCIEDADE SIMPLES...|   155|
|  ASSOCIACAO PRIVADA|    28|
|   ENTIDADE SINDICAL|     7|
|SOCIEDADE ANONIMA...|     9|
|    FUNDACAO PRIVADA|     8|
+--------------------+------+

+--------------------+-----+
| ATIVIDADE_PRINCIPAL|count|
+--------------------+-----+
|COMERCIO A VAREJO...|    2|
|CORRESPONDENTES D...|    6|
|CRIACAO DE PEIXES...|    1|
|COMERCIO SOB CONS...|    1|
|FABRICACAO DE SUC...|    2|
|COMERCIO VAREJIST...|    6|
|COMERCIO ATACADIS...|    3|
|OPERADORES TURIST...|    4|
|COMERCIO ATACADIS...|    2|
|ALUGUEL DE MAQUIN...|    2|
|INSTALACAO DE POR...|    1|
|RECUPERACAO DE MA...|    1|
|EXPLORACAO DE JOG...|    1|
|LOCACAO DE EMBARC...|    1|
|CABELEIREIROS, MA...|   33|
|COMERCIO VAREJIST...|    5|
|  PROMOCAO DE VENDAS|   44|
|OUTRAS SOCIEDADES...|    7|
|ATIVIDADES ASSOCI...|    2|
|ATIVIDADES DE CON...|   43|
|    MARKETING DIRETO|   19|
| SERVICOS DOMESTICOS|    4|
|    ENSINO DE MUSICA|    3|
|IMPRESSAO DE MATE...|    4|
|ATIVIDADES DE EXI...|    2|
|LOJAS DE DEPARTAM...|   19|
|RESTAURANTES E SI...|59709|
|ATIVIDADES DE EST...|    9|
|SERVICOS DE DUBLAGEM|    1|
|COMERCIO VAREJIST...|    4|
|OUTRAS OBRAS DE I...|    1|
|SERVICOS DE MONTA...|    1|
|SERVICOS DE ENGEN...|   11|
|TREINAMENTO EM DE...|   20|
|ESTAMPARIA E TEXT...|    1|
|COMERCIO VAREJIST...|    1|
|COMERCIO VAREJIST...|31200|
|TRATAMENTO DE DAD...|    5|
|FABRICACAO DE FRU...|    1|
|COMERCIO VAREJIST...|    3|
|ARTES CENICAS, ES...|    8|
|FABRICACAO DE LAT...|   21|
|COMERCIO VAREJIST...| 3309|
|COMERCIO VAREJIST...|    8|
|DEPOSITOS DE MERC...|   11|
|           CHAVEIROS|    2|
|COMERCIO VAREJIST...|    9|
|COMERCIO ATACADIS...|   18|
|COMERCIO ATACADIS...|    7|
|            PEIXARIA|  205|
|ATIVIDADES DE APO...|    6|
|FABRICACAO DE MAS...|  154|
|COMERCIO VAREJIST...|    2|
|COMERCIO VAREJIST...|    2|
|COMERCIO VAREJIST...|  417|
|              MOTEIS|    4|
|COMERCIO VAREJIST...|   77|
|MANUTENCAO E REPA...|    2|
|COMERCIO VAREJIST...|    5|
|PENSOES (ALOJAMENTO)|   99|
|    EDICAO DE LIVROS|    2|
|FABRICACAO DE CON...|    8|
|FABRICACAO DE COS...|    1|
|PESCA DE PEIXES E...|    1|
|FABRICACAO DE BIS...|   13|
|EXPLORACAO DE APO...|    2|
|ATIVIDADES VETERI...|    2|
|COMERCIO VAREJIST...|    2|
|COMERCIO ATACADIS...|    2|
|CRIACAO DE PEIXES...|    1|
|COMERCIO VAREJIST...|    1|
|ATIVIDADES DE ORG...|    1|
|FABRICACAO DE OLE...|   10|
|COMERCIO ATACADIS...|    2|
|SERVICOS DE AGRON...|    1|
|DESIGN DE INTERIORES|    3|
|COMERCIO VAREJIST...|    6|
|OUTRAS ATIVIDADES...|    3|
|COMERCIO A VAREJO...|    1|
|FORNECIMENTO DE A...| 5347|
|COMERCIO VAREJIST...|  771|
|COMERCIO ATACADIS...|    4|
|TRANSPORTE RODOVI...|    3|
|COMERCIO VAREJIST...|    3|
|LIMPEZA EM PREDIO...|    5|
|COMERCIO VAREJIST...|  533|
|COMERCIO VAREJIST...|    2|
|    PRODUCAO MUSICAL|    6|
|COMERCIO VAREJIST...|    1|
|EDUCACAO SUPERIOR...|    1|
|SERVICOS AMBULANT...|  887|
|PREPARACAO DE DOC...|  136|
|SERVICOS DE ORGAN...|  140|
|FABRICACAO DE MOV...|    2|
|FORNECIMENTO E GE...|    1|
|ALUGUEL DE OUTRAS...|    6|
|ATIVIDADES DE ORG...|    7|
|COMERCIO VAREJIST...| 1074|
|SERVICOS DE ALIME...|  557|
|CORRETAGEM NO ALU...|    3|
+--------------------+-----+
only showing top 100 rows

+----------------------+-----+
|ATIVIDADES_SECUNDARIAS|count|
+----------------------+-----+
|  PADARIA E CONFEIT...|    6|
|  CORRESPONDENTES D...|  162|
|  COMERCIO VAREJIST...|    1|
|  FORNECIMENTO DE A...|    9|
|  COMERCIO VAREJIST...|   15|
|  COMERCIO ATACADIS...|    2|
|  COMERCIO VAREJIST...|   45|
|  COMERCIO VAREJIST...|    4|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO VAREJIST...|    2|
|  FRIGORIFICO - ABA...|    8|
|  SERVICOS AMBULANT...|    2|
|  FABRICACAO DE SUC...|    1|
|  BARES E OUTROS ES...|   11|
|  FORNECIMENTO DE A...|    1|
|  BARES E OUTROS ES...|    2|
|  COMERCIO VAREJIST...|   13|
|  RESTAURANTES E SI...|    5|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO VAREJIST...|    3|
|  PADARIA E CONFEIT...|    2|
|  FORNECIMENTO DE A...|    3|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO ATACADIS...|    2|
|  COMERCIO ATACADIS...|    2|
|  PADARIA E CONFEIT...|    1|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO VAREJIST...|    3|
|  FABRICACAO DE PRO...|    2|
|  SERVICOS DE ALIME...|    1|
|  COMERCIO VAREJIST...|    4|
|  COMERCIO VAREJIST...|    1|
|  FABRICACAO DE MAS...|    2|
|  COMERCIO VAREJIST...|    2|
|  RESTAURANTES E SI...|    4|
|  COMERCIO VAREJIST...|    3|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO VAREJIST...|    4|
|  PEIXARIA,COMERCIO...|    2|
|  SERVICOS DE ALIME...|    1|
|  PADARIA E CONFEIT...|    4|
|  TRANSPORTE RODOVI...|    1|
|  COMERCIO VAREJIST...|    4|
|  PADARIA E CONFEIT...|    1|
|  COMERCIO VAREJIST...|    3|
|  SERVICOS DE ORGAN...|    2|
|  PADARIA E CONFEIT...|    2|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO VAREJIST...|    3|
|  RESTAURANTES E SI...|    1|
|  RESTAURANTES E SI...|    3|
|  PADARIA E CONFEIT...|    2|
|  COMERCIO ATACADIS...|    3|
|  COMERCIO VAREJIST...|    4|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    2|
|  PADARIA E CONFEIT...|    1|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    4|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO ATACADIS...|    2|
|  FORNECIMENTO DE A...|    1|
|  CASAS DE FESTAS E...|    3|
|  FABRICACAO DE ALI...|    1|
|  COMERCIO VAREJIST...|    1|
|  EXPLORACAO DE JOG...|    3|
|  COMERCIO VAREJIST...|    1|
|  OPERADORES TURIST...|    1|
|  PADARIA E CONFEIT...|    1|
|  COMERCIO VAREJIST...|    1|
|  PADARIA E CONFEIT...|    1|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO ATACADIS...|    1|
|  COMERCIO VAREJIST...|    1|
|  PADARIA E CONFEIT...|    1|
|  COMERCIO VAREJIST...|    2|
|  SERVICOS DE ALIME...|    1|
|  PENSOES (ALOJAMEN...|    1|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    2|
|  FABRICACAO DE ALI...|    1|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    1|
|  COMERCIO VAREJIST...|    2|
|  COMERCIO VAREJIST...|    1|
|  FORNECIMENTO DE A...|    1|
|  COMERCIO VAREJIST...|    1|
+----------------------+-----+
only showing top 100 rows

+------+------+
|  TIPO| count|
+------+------+
|MATRIZ|211342|
|FILIAL|  3343|
+------+------+

+--------------------+------+
|               CARGO| count|
+--------------------+------+
|          PRESIDENTE|   149|
|TITULAR PESSOA FI...| 12766|
|SOCIO PESSOA FISI...|     5|
|             DIRETOR|   513|
|                null| 49605|
|SOCIO INCAPAZ OU ...|     3|
|               SOCIO|143722|
|TITULAR PESSOA FI...|     3|
|             INVALID|  3606|
|   SOCIO COM CAPITAL|     8|
|CONSELHEIRO DE AD...|    26|
|       ADMINISTRADOR|  2386|
| COTAS EM TESOURARIA|    66|
|SOCIO OU ACIONIST...|  1773|
|SOCIO PESSOA JURI...|    51|
|TITULAR PESSOA FI...|     2|
|           UNDEFINED|     1|
+--------------------+------+

In [6]:
#------ tratar inicio do CNPJ sem o 0

@SF.udf('string')
def fill_cnpj(value):
    aux = '00000000000000'+value
    return aux[len(value):]

In [7]:
df_cursor = df_cursor.withColumn('CNPJ',fill_cnpj('CNPJ'))
df_cursor.show(5)

+--------------+--------+-------+
|          CNPJ|DATA_REF|CS_ALVO|
+--------------+--------+-------+
|11507110000160| 2016-10|      0|
|15062189000114| 2016-07|      0|
|05841171000167| 2016-08|      0|
|08792807000116| 2016-08|      0|
|24060073000137| 2017-01|      1|
+--------------+--------+-------+
only showing top 5 rows

In [8]:
#------ Convertendo REF_DATE do df_cursor para timestamp

df_cursor = df_cursor.withColumn('REF_DATE',SF.from_unixtime(
            SF.unix_timestamp('DATA_REF','yyyy-MM')).cast('timestamp'))

In [9]:
df_cursor.show(5)

+--------------+--------+-------+-------------------+
|          CNPJ|DATA_REF|CS_ALVO|           REF_DATE|
+--------------+--------+-------+-------------------+
|11507110000160| 2016-10|      0|2016-10-01 00:00:00|
|15062189000114| 2016-07|      0|2016-07-01 00:00:00|
|05841171000167| 2016-08|      0|2016-08-01 00:00:00|
|08792807000116| 2016-08|      0|2016-08-01 00:00:00|
|24060073000137| 2017-01|      1|2017-01-01 00:00:00|
+--------------+--------+-------+-------------------+
only showing top 5 rows

In [10]:
#------ Convertendo REF_DATE do df para timestamp

df = df.withColumn('REF_DATE',SF.col('REF_DATE').cast('timestamp'))

In [11]:
df = df.withColumnRenamed('CNPJ','CNPJ_DF').withColumnRenamed('REF_DATE','REF_DATE_DF')

In [12]:
#------ Criando o df_base. Aqui foi ignorada a condição de REF_DATE apenas para testes, por que caso contrário não 
#------ retornaria nenhum valor. QUestionar os professores o que fazer !!!!!

'''
df_base = df_cursor.join(df,
                 (df_cursor['CNPJ']==df['CNPJ_DF']) & 
                 (df_cursor['REF_DATE'] >= df['REF_DATE_DF']),
                 'left')
'''

df_base = df_cursor.join(df,
                 (df_cursor['CNPJ']==df['CNPJ_DF']),
                 'left')

In [13]:
df_base.show(5)

+--------------+--------+-------+-------------------+--------------+--------------------+--------------------+--------------------+--------------------+----------------------+------------------+------+--------------------+------+-----------+--------------------+--------+----------------+---+----------+----------+--------------------+-------------------+--------------+---------------+--------+-------------------+-----------------+----------------------+----+--------------------+-----+--------------+---------------+-------------------+--------------------+------+----------+-------------+------------+--------------------+----+-----+
|          CNPJ|DATA_REF|CS_ALVO|           REF_DATE|       CNPJ_DF|        NOME_EMPRESA|            FANTASIA|   NATUREZA_JURIDICA| ATIVIDADE_PRINCIPAL|ATIVIDADES_SECUNDARIAS|    CNPJ_FORMATADO|  TIPO|          LOGRADOURO|NUMERO|COMPLEMENTO|              BAIRRO|     CEP|       MUNICIPIO| UF|TELEFONE_1|TELEFONE_2|               EMAIL|           ABERTURA|CAPITAL_SOCIAL|MOTIVO_SITUACAO|SITUACAO|      DATA_SITUACAO|SITUACAO_ESPECIAL|DATA_SITUACAO_ESPECIAL| EFR|          NOME_SOCIO|CARGO|NOME_REP_LEGAL|CARGO_REP_LEGAL|        REF_DATE_DF|           LOAD_DATE|STATUS|QUERY_NAME|QUERY_VERSION|QUERY_STATUS|          QUERY_DATE|YEAR|MONTH|
+--------------+--------+-------+-------------------+--------------+--------------------+--------------------+--------------------+--------------------+----------------------+------------------+------+--------------------+------+-----------+--------------------+--------+----------------+---+----------+----------+--------------------+-------------------+--------------+---------------+--------+-------------------+-----------------+----------------------+----+--------------------+-----+--------------+---------------+-------------------+--------------------+------+----------+-------------+------------+--------------------+----+-----+
|00231887000129| 2017-05|      0|2017-05-01 00:00:00|00231887000129|LANCHONETE TRADIC...|                null|SOCIEDADE EMPRESA...|RESTAURANTES E SI...|         NAO INFORMADA|00.231.887/0001-29|MATRIZ|     R SALES BARBOSA|   225|     TERREO|              CENTRO|44001535|FEIRA DE SANTANA| BA|      null|      null|asficolfiscal@hot...|1994-10-06 00:00:00|      60000.00|           null|   ATIVA|2005-06-11 00:00:00|             null|                  null|null|JOSENILDA ALMEIDA...|SOCIO|          null|           null|2018-10-26 11:12:35|2018-12-13T12:38:...|    OK|    JUR001|        1.0.0|     SUCCESS|2018-12-13T03:07:...|2018|   12|
|00231887000129| 2017-05|      0|2017-05-01 00:00:00|00231887000129|LANCHONETE TRADIC...|                null|SOCIEDADE EMPRESA...|RESTAURANTES E SI...|         NAO INFORMADA|00.231.887/0001-29|MATRIZ|     R SALES BARBOSA|   225|     TERREO|              CENTRO|44001535|FEIRA DE SANTANA| BA|      null|      null|asficolfiscal@hot...|1994-10-06 00:00:00|      60000.00|           null|   ATIVA|2005-06-11 00:00:00|             null|                  null|null|JOAQUIM GESSIMO C...|SOCIO|          null|           null|2018-10-26 11:12:35|2018-12-13T12:38:...|    OK|    JUR001|        1.0.0|     SUCCESS|2018-12-13T03:07:...|2018|   12|
|00256837000104| 2017-01|      0|2017-01-01 00:00:00|00256837000104|IRMAOS GUALBERTO ...|SABRINA SUPERMERCADO|SOCIEDADE EMPRESA...|COMERCIO VAREJIST...|  COMERCIO VAREJIST...|00.256.837/0001-04|MATRIZ|R JOSE MARIA JACI...|  6180|       null|VILA SANTA TEREZINHA|14409267|          FRANCA| SP|      null|      null|sabrinasupermerca...|1994-10-19 00:00:00|      35000.00|           null|   ATIVA|2000-12-23 00:00:00|             null|                  null|null|GABRIEL GUALBERTO...|SOCIO|          null|           null|2018-08-24 03:02:06|2018-12-10T12:38:...|    OK|    JUR001|        1.0.0|     SUCCESS|2018-12-09T19:46:...|2018|   12|
|00256837000104| 2017-01|      0|2017-01-01 00:00:00|00256837000104|IRMAOS GUALBERTO ...|SABRINA SUPERMERCADO|SOCIEDADE EMPRESA...|COMERCIO VAREJIST...|  COMERCIO VAREJIST...|00.256.837/0001-04|MATRIZ|R JOSE MARIA JACI...|  6180|       null|VILA SANTA TEREZINHA|14409267|          FRANCA| SP|      null|      null|sabrinasupermerca...|1994-10-19 00:00:00|      35000.00|           null|   ATIVA|2000-12-23 00:00:00|             null|                  null|null|SABRINA DA SILVA ...|SOCIO|          null|           null|2018-08-24 03:02:06|2018-12-10T12:38:...|    OK|    JUR001|        1.0.0|     SUCCESS|2018-12-09T19:46:...|2018|   12|
|00256837000104| 2017-01|      0|2017-01-01 00:00:00|00256837000104|IRMAOS GUALBERTO ...|SABRINA SUPERMERCADO|SOCIEDADE EMPRESA...|COMERCIO VAREJIST...|  COMERCIO VAREJIST...|00.256.837/0001-04|MATRIZ|R JOSE MARIA JACI...|  6180|       null|VILA SANTA TEREZINHA|14409267|          FRANCA| SP|      null|      null|sabrinasupermerca...|1994-10-19 00:00:00|      35000.00|           null|   ATIVA|2000-12-23 00:00:00|             null|                  null|null|DENISE DA SILVA G...|SOCIO|          null|           null|2018-08-24 03:02:06|2018-12-10T12:38:...|    OK|    JUR001|        1.0.0|     SUCCESS|2018-12-09T19:46:...|2018|   12|
+--------------+--------+-------+-------------------+--------------+--------------------+--------------------+--------------------+--------------------+----------------------+------------------+------+--------------------+------+-----------+--------------------+--------+----------------+---+----------+----------+--------------------+-------------------+--------------+---------------+--------+-------------------+-----------------+----------------------+----+--------------------+-----+--------------+---------------+-------------------+--------------------+------+----------+-------------+------------+--------------------+----+-----+
only showing top 5 rows

<h1>1) Quantidade de EMAILS</h1>

In [14]:
df_aux = df_base.select('CNPJ','EMAIL','REF_DATE').dropDuplicates().\
            groupBy('CNPJ','REF_DATE').agg(SF.count('EMAIL').alias('QTD_EMAIL')).sort(SF.desc('QTD_EMAIL'))
df_aux.show(10)

+--------------+-------------------+---------+
|          CNPJ|           REF_DATE|QTD_EMAIL|
+--------------+-------------------+---------+
|02079245000181|2016-10-01 00:00:00|        1|
|17558182000113|2016-10-01 00:00:00|        1|
|19375312000108|2016-12-01 00:00:00|        1|
|06267716000136|2017-01-01 00:00:00|        1|
|04483246000112|2016-12-01 00:00:00|        1|
|20106766000162|2016-09-01 00:00:00|        1|
|16675505000196|2017-04-01 00:00:00|        1|
|21602873000144|2016-11-01 00:00:00|        1|
|04542657000131|2017-01-01 00:00:00|        1|
|16974905000100|2017-05-01 00:00:00|        1|
+--------------+-------------------+---------+
only showing top 10 rows

In [15]:
df_final = df_cursor.join(df_aux,['CNPJ','REF_DATE'],'left')
df_final.show()

+--------------+-------------------+--------+-------+---------+
|          CNPJ|           REF_DATE|DATA_REF|CS_ALVO|QTD_EMAIL|
+--------------+-------------------+--------+-------+---------+
|00004330000155|2016-10-01 00:00:00| 2016-10|      0|        0|
|00078090000133|2017-03-01 00:00:00| 2017-03|      0|        0|
|00109982000154|2016-09-01 00:00:00| 2016-09|      1|        1|
|00281129000115|2017-06-01 00:00:00| 2017-06|      0|        0|
|00294916000100|2017-02-01 00:00:00| 2017-02|      0|        0|
|00370197000150|2016-11-01 00:00:00| 2016-11|      1|        0|
|00711050000187|2016-11-01 00:00:00| 2016-11|      0|        1|
|00951519000155|2017-01-01 00:00:00| 2017-01|      0|        0|
|00984383000180|2016-09-01 00:00:00| 2016-09|      0|        0|
|01013673000149|2017-02-01 00:00:00| 2017-02|      0|        0|
|01024580000110|2016-09-01 00:00:00| 2016-09|      0|        0|
|01163316000167|2017-01-01 00:00:00| 2017-01|      0|        1|
|01252815000120|2016-07-01 00:00:00| 2016-07|      0|        0|
|01358637000117|2017-05-01 00:00:00| 2017-05|      0|        0|
|01469354000142|2017-01-01 00:00:00| 2017-01|      0|        1|
|01689785000114|2017-02-01 00:00:00| 2017-02|      0|        0|
|01805386000171|2017-03-01 00:00:00| 2017-03|      0|        0|
|01836357001653|2017-04-01 00:00:00| 2017-04|      0|        1|
|01864042000133|2017-01-01 00:00:00| 2017-01|      0|        1|
|02026313000144|2016-10-01 00:00:00| 2016-10|      0|        0|
+--------------+-------------------+--------+-------+---------+
only showing top 20 rows

<h1>2) Quantidade de Telefones</h1>

In [16]:
df_aux = df_base.select(['CNPJ','REF_DATE','TELEFONE_1','TELEFONE_2']).dropDuplicates()

In [17]:
df_aux = df_aux.withColumn('QTD_TLF1',SF.when(SF.col('TELEFONE_1').isNotNull(),1).otherwise(0)).\
                withColumn('QTD_TLF2',SF.when(SF.col('TELEFONE_2').isNotNull(),1).otherwise(0)).\
                withColumn('QTD_TELEFONES',SF.col('QTD_TLF1')+SF.col('QTD_TLF2')).\
                groupBy('CNPJ','REF_DATE').agg(SF.sum('QTD_TELEFONES').alias('QTD_TELEFONES'))
df_aux.show()

+--------------+-------------------+-------------+
|          CNPJ|           REF_DATE|QTD_TELEFONES|
+--------------+-------------------+-------------+
|00231887000129|2017-05-01 00:00:00|            0|
|00256837000104|2017-01-01 00:00:00|            0|
|00501368000133|2016-09-01 00:00:00|            0|
|00560191000146|2017-01-01 00:00:00|            2|
|00642972000180|2017-06-01 00:00:00|            0|
|00663069000103|2016-07-01 00:00:00|            0|
|00691020000156|2017-05-01 00:00:00|            0|
|00701583000188|2016-12-01 00:00:00|            1|
|00931390000113|2016-07-01 00:00:00|            0|
|01276895000154|2017-03-01 00:00:00|            0|
|01351627000150|2016-10-01 00:00:00|            0|
|01685806000123|2017-04-01 00:00:00|            2|
|01716865000111|2016-11-01 00:00:00|            1|
|01840520000175|2016-12-01 00:00:00|            0|
|01928075000108|2016-08-01 00:00:00|            2|
|01940503000100|2016-10-01 00:00:00|            1|
|02231876000174|2017-04-01 00:00:00|            1|
|02500283000166|2017-02-01 00:00:00|            2|
|02739842000195|2017-03-01 00:00:00|            0|
|02815876000111|2017-05-01 00:00:00|            0|
+--------------+-------------------+-------------+
only showing top 20 rows

In [18]:
df_final = df_final.join(df_aux, ['CNPJ','REF_DATE'], 'left')
df_final.show()

+--------------+-------------------+--------+-------+---------+-------------+
|          CNPJ|           REF_DATE|DATA_REF|CS_ALVO|QTD_EMAIL|QTD_TELEFONES|
+--------------+-------------------+--------+-------+---------+-------------+
|00004330000155|2016-10-01 00:00:00| 2016-10|      0|        0|            0|
|00078090000133|2017-03-01 00:00:00| 2017-03|      0|        0|            1|
|00109982000154|2016-09-01 00:00:00| 2016-09|      1|        1|            2|
|00281129000115|2017-06-01 00:00:00| 2017-06|      0|        0|            0|
|00294916000100|2017-02-01 00:00:00| 2017-02|      0|        0|            0|
|00370197000150|2016-11-01 00:00:00| 2016-11|      1|        0|            0|
|00711050000187|2016-11-01 00:00:00| 2016-11|      0|        1|            2|
|00951519000155|2017-01-01 00:00:00| 2017-01|      0|        0|            0|
|00984383000180|2016-09-01 00:00:00| 2016-09|      0|        0|            1|
|01013673000149|2017-02-01 00:00:00| 2017-02|      0|        0|            0|
|01024580000110|2016-09-01 00:00:00| 2016-09|      0|        0|            0|
|01163316000167|2017-01-01 00:00:00| 2017-01|      0|        1|            2|
|01252815000120|2016-07-01 00:00:00| 2016-07|      0|        0|            0|
|01358637000117|2017-05-01 00:00:00| 2017-05|      0|        0|            0|
|01469354000142|2017-01-01 00:00:00| 2017-01|      0|        1|            1|
|01689785000114|2017-02-01 00:00:00| 2017-02|      0|        0|            0|
|01805386000171|2017-03-01 00:00:00| 2017-03|      0|        0|            0|
|01836357001653|2017-04-01 00:00:00| 2017-04|      0|        1|            2|
|01864042000133|2017-01-01 00:00:00| 2017-01|      0|        1|            1|
|02026313000144|2016-10-01 00:00:00| 2016-10|      0|        0|            0|
+--------------+-------------------+--------+-------+---------+-------------+
only showing top 20 rows

<h1>3) Classificação por CEP : Região, Subregião, Setor, Subsetor, Divisão de Subsetor e Logradouro</h1>

In [19]:
df_aux = df_base.select(['CNPJ', 'REF_DATE','CEP']).dropDuplicates()

In [20]:
df_aux = df_aux.withColumn('REGIAO',SF.col('CEP').substr(1, 1)).\
         withColumn('SUBREGIAO',SF.col('CEP').substr(2, 1)).\
         withColumn('SETOR',SF.col('CEP').substr(3, 1)).\
         withColumn('SUBSETOR',SF.col('CEP').substr(4, 1)).\
         withColumn('DIV_SUBSETOR',SF.col('CEP').substr(5, 1)).\
         withColumn('LOGRADOURO',SF.col('CEP').substr(6, 3)).\
         drop('CEP')

In [21]:
df_aux.show()

+--------------+-------------------+------+---------+-----+--------+------------+----------+
|          CNPJ|           REF_DATE|REGIAO|SUBREGIAO|SETOR|SUBSETOR|DIV_SUBSETOR|LOGRADOURO|
+--------------+-------------------+------+---------+-----+--------+------------+----------+
|24168501000140|2017-03-01 00:00:00|     1|        4|    8|       0|           0|       370|
|07488555000173|2016-12-01 00:00:00|     3|        8|    4|       1|           1|       120|
|13378985000135|2016-11-01 00:00:00|     0|        3|    1|       7|           8|       000|
|03058631000150|2016-11-01 00:00:00|     8|        5|    9|       8|           0|       000|
|20447042000182|2017-01-01 00:00:00|     8|        8|    0|       4|           0|       445|
|15110694000197|2017-02-01 00:00:00|     9|        4|    9|       3|           0|       075|
|13002350000139|2017-02-01 00:00:00|     8|        0|    0|       3|           5|       000|
|27554813000180|2016-09-01 00:00:00|     0|        5|    4|       3|           4|       020|
|11927674000152|2017-04-01 00:00:00|     4|        5|    8|       2|           4|       015|
|10602618000185|2017-05-01 00:00:00|     4|        1|    8|       2|           0|       908|
|23889879000170|2016-08-01 00:00:00|     3|        2|    1|       5|           0|       193|
|21151493000130|2016-09-01 00:00:00|     3|        0|    3|       9|           0|       210|
|04674284000152|2017-05-01 00:00:00|     4|        1|    8|       1|           0|       001|
|19900649000197|2016-08-01 00:00:00|     8|        5|    6|       0|           5|       430|
|07486885000120|2017-01-01 00:00:00|     2|        2|    7|       5|           3|       033|
|04665354000106|2017-05-01 00:00:00|     0|        1|    3|       1|           9|       010|
|14730420000138|2016-10-01 00:00:00|     0|        9|    7|       5|           1|       250|
|09062469000120|2017-03-01 00:00:00|     1|        5|    0|       1|           5|       020|
|02673239000158|2016-10-01 00:00:00|     5|        8|    1|       0|           4|       513|
|03767271000165|2017-01-01 00:00:00|     1|        3|    0|       1|           3|       080|
+--------------+-------------------+------+---------+-----+--------+------------+----------+
only showing top 20 rows

In [22]:
df_final = df_final.join(df_aux, ['CNPJ','REF_DATE'], 'left')
df_final.show()

+--------------+-------------------+--------+-------+---------+-------------+------+---------+-----+--------+------------+----------+
|          CNPJ|           REF_DATE|DATA_REF|CS_ALVO|QTD_EMAIL|QTD_TELEFONES|REGIAO|SUBREGIAO|SETOR|SUBSETOR|DIV_SUBSETOR|LOGRADOURO|
+--------------+-------------------+--------+-------+---------+-------------+------+---------+-----+--------+------------+----------+
|00004330000155|2016-10-01 00:00:00| 2016-10|      0|        0|            0|     1|        3|    0|       9|           2|       500|
|00078090000133|2017-03-01 00:00:00| 2017-03|      0|        0|            1|     9|        1|    2|       6|           0|       000|
|00109982000154|2016-09-01 00:00:00| 2016-09|      1|        1|            2|     1|        1|    4|       4|           6|       130|
|00281129000115|2017-06-01 00:00:00| 2017-06|      0|        0|            0|     0|        3|    2|       2|           1|       200|
|00294916000100|2017-02-01 00:00:00| 2017-02|      0|        0|            0|     0|        3|    3|       6|           1|       000|
|00370197000150|2016-11-01 00:00:00| 2016-11|      1|        0|            0|     7|        0|    3|       5|           1|       535|
|00711050000187|2016-11-01 00:00:00| 2016-11|      0|        1|            2|     3|        1|    7|       4|           2|       173|
|00951519000155|2017-01-01 00:00:00| 2017-01|      0|        0|            0|     1|        3|    5|       7|           5|       170|
|00984383000180|2016-09-01 00:00:00| 2016-09|      0|        0|            1|     8|        5|    6|       6|           0|       000|
|01013673000149|2017-02-01 00:00:00| 2017-02|      0|        0|            0|     2|        2|    4|       4|           0|       032|
|01024580000110|2016-09-01 00:00:00| 2016-09|      0|        0|            0|     0|        8|    5|       8|           7|       000|
|01163316000167|2017-01-01 00:00:00| 2017-01|      0|        1|            2|     0|        5|    1|       8|           7|       010|
|01252815000120|2016-07-01 00:00:00| 2016-07|      0|        0|            0|     3|        2|    6|       5|           3|       370|
|01358637000117|2017-05-01 00:00:00| 2017-05|      0|        0|            0|     1|        3|    0|       6|           1|       083|
|01469354000142|2017-01-01 00:00:00| 2017-01|      0|        1|            1|     1|        4|    3|       4|           0|       000|
|01689785000114|2017-02-01 00:00:00| 2017-02|      0|        0|            0|     7|        5|    9|       5|           5|       000|
|01805386000171|2017-03-01 00:00:00| 2017-03|      0|        0|            0|     3|        5|    7|       0|           0|       049|
|01836357001653|2017-04-01 00:00:00| 2017-04|      0|        1|            2|     1|        1|    4|       1|           0|       222|
|01864042000133|2017-01-01 00:00:00| 2017-01|      0|        1|            1|     3|        0|    8|       6|           5|       000|
|02026313000144|2016-10-01 00:00:00| 2016-10|      0|        0|            0|     3|        7|    9|       7|           5|       000|
+--------------+-------------------+--------+-------+---------+-------------+------+---------+-----+--------+------------+----------+
only showing top 20 rows

<h1>4) Quantidade de Sócios</h1>

In [23]:
df_aux = df_base.select('CNPJ','NOME_SOCIO','REF_DATE').dropDuplicates().\
            groupBy('CNPJ','REF_DATE').agg(SF.count('NOME_SOCIO').alias('QTD_SOCIOS')).sort(SF.desc('QTD_SOCIOS'))
df_aux.show(10)

+--------------+-------------------+----------+
|          CNPJ|           REF_DATE|QTD_SOCIOS|
+--------------+-------------------+----------+
|31130537000280|2016-10-01 00:00:00|        35|
|10297699000238|2017-04-01 00:00:00|        34|
|09456178000116|2016-09-01 00:00:00|        20|
|61087367000189|2017-03-01 00:00:00|        19|
|04907334000102|2016-09-01 00:00:00|        19|
|09643807000117|2017-04-01 00:00:00|        18|
|10392044000168|2017-01-01 00:00:00|        17|
|75492694000392|2016-11-01 00:00:00|        16|
|48093892000149|2016-11-01 00:00:00|        16|
|09541072000110|2017-04-01 00:00:00|        15|
+--------------+-------------------+----------+
only showing top 10 rows

In [24]:
df_final = df_final.join(df_aux, ['CNPJ','REF_DATE'], 'left')
df_final.show()

+--------------+-------------------+--------+-------+---------+-------------+------+---------+-----+--------+------------+----------+----------+
|          CNPJ|           REF_DATE|DATA_REF|CS_ALVO|QTD_EMAIL|QTD_TELEFONES|REGIAO|SUBREGIAO|SETOR|SUBSETOR|DIV_SUBSETOR|LOGRADOURO|QTD_SOCIOS|
+--------------+-------------------+--------+-------+---------+-------------+------+---------+-----+--------+------------+----------+----------+
|00004330000155|2016-10-01 00:00:00| 2016-10|      0|        0|            0|     1|        3|    0|       9|           2|       500|         1|
|00078090000133|2017-03-01 00:00:00| 2017-03|      0|        0|            1|     9|        1|    2|       6|           0|       000|         2|
|00109982000154|2016-09-01 00:00:00| 2016-09|      1|        1|            2|     1|        1|    4|       4|           6|       130|         2|
|00281129000115|2017-06-01 00:00:00| 2017-06|      0|        0|            0|     0|        3|    2|       2|           1|       200|         3|
|00294916000100|2017-02-01 00:00:00| 2017-02|      0|        0|            0|     0|        3|    3|       6|           1|       000|         0|
|00370197000150|2016-11-01 00:00:00| 2016-11|      1|        0|            0|     7|        0|    3|       5|           1|       535|         3|
|00711050000187|2016-11-01 00:00:00| 2016-11|      0|        1|            2|     3|        1|    7|       4|           2|       173|         0|
|00951519000155|2017-01-01 00:00:00| 2017-01|      0|        0|            0|     1|        3|    5|       7|           5|       170|         0|
|00984383000180|2016-09-01 00:00:00| 2016-09|      0|        0|            1|     8|        5|    6|       6|           0|       000|         1|
|01013673000149|2017-02-01 00:00:00| 2017-02|      0|        0|            0|     2|        2|    4|       4|           0|       032|         2|
|01024580000110|2016-09-01 00:00:00| 2016-09|      0|        0|            0|     0|        8|    5|       8|           7|       000|         0|
|01163316000167|2017-01-01 00:00:00| 2017-01|      0|        1|            2|     0|        5|    1|       8|           7|       010|         3|
|01252815000120|2016-07-01 00:00:00| 2016-07|      0|        0|            0|     3|        2|    6|       5|           3|       370|         1|
|01358637000117|2017-05-01 00:00:00| 2017-05|      0|        0|            0|     1|        3|    0|       6|           1|       083|         1|
|01469354000142|2017-01-01 00:00:00| 2017-01|      0|        1|            1|     1|        4|    3|       4|           0|       000|         1|
|01689785000114|2017-02-01 00:00:00| 2017-02|      0|        0|            0|     7|        5|    9|       5|           5|       000|         2|
|01805386000171|2017-03-01 00:00:00| 2017-03|      0|        0|            0|     3|        5|    7|       0|           0|       049|         0|
|01836357001653|2017-04-01 00:00:00| 2017-04|      0|        1|            2|     1|        1|    4|       1|           0|       222|         0|
|01864042000133|2017-01-01 00:00:00| 2017-01|      0|        1|            1|     3|        0|    8|       6|           5|       000|         2|
|02026313000144|2016-10-01 00:00:00| 2016-10|      0|        0|            0|     3|        7|    9|       7|           5|       000|         2|
+--------------+-------------------+--------+-------+---------+-------------+------+---------+-----+--------+------------+----------+----------+
only showing top 20 rows

<h1> 5) Quantidade de Filiais do Grupo</h1>

In [25]:
df_aux = df_base.select('CNPJ','REF_DATE').dropDuplicates()
df_aux = df_aux.withColumn('GRUPO_EMP',SF.col('CNPJ').substr(1, 8)).\
         withColumn('FILIAL',SF.col('CNPJ').substr(9, 4)).\
         groupBy('CNPJ','REF_DATE','GRUPO_EMP').agg(SF.max('FILIAL').alias('QTD_FILIAIS')).drop('GRUPO_EMP').sort(SF.desc('QTD_FILIAIS'))



df_aux.show(10)

+--------------+-------------------+-----------+
|          CNPJ|           REF_DATE|QTD_FILIAIS|
+--------------+-------------------+-----------+
|03777341044880|2016-07-01 00:00:00|       0448|
|09967852014934|2016-10-01 00:00:00|       0149|
|09967852013105|2017-02-01 00:00:00|       0131|
|30147995009135|2017-03-01 00:00:00|       0091|
|47866934008825|2017-04-01 00:00:00|       0088|
|93209765004880|2016-12-01 00:00:00|       0048|
|02223966004615|2017-01-01 00:00:00|       0046|
|09160226003905|2016-09-01 00:00:00|       0039|
|03667884003065|2016-08-01 00:00:00|       0030|
|62413877002962|2017-01-01 00:00:00|       0029|
+--------------+-------------------+-----------+
only showing top 10 rows

In [26]:
df_final = df_final.join(df_aux, ['CNPJ','REF_DATE'], 'left')
df_final.show()

+--------------+-------------------+--------+-------+---------+-------------+------+---------+-----+--------+------------+----------+----------+-----------+
|          CNPJ|           REF_DATE|DATA_REF|CS_ALVO|QTD_EMAIL|QTD_TELEFONES|REGIAO|SUBREGIAO|SETOR|SUBSETOR|DIV_SUBSETOR|LOGRADOURO|QTD_SOCIOS|QTD_FILIAIS|
+--------------+-------------------+--------+-------+---------+-------------+------+---------+-----+--------+------------+----------+----------+-----------+
|00004330000155|2016-10-01 00:00:00| 2016-10|      0|        0|            0|     1|        3|    0|       9|           2|       500|         1|       0001|
|00078090000133|2017-03-01 00:00:00| 2017-03|      0|        0|            1|     9|        1|    2|       6|           0|       000|         2|       0001|
|00109982000154|2016-09-01 00:00:00| 2016-09|      1|        1|            2|     1|        1|    4|       4|           6|       130|         2|       0001|
|00281129000115|2017-06-01 00:00:00| 2017-06|      0|        0|            0|     0|        3|    2|       2|           1|       200|         3|       0001|
|00294916000100|2017-02-01 00:00:00| 2017-02|      0|        0|            0|     0|        3|    3|       6|           1|       000|         0|       0001|
|00370197000150|2016-11-01 00:00:00| 2016-11|      1|        0|            0|     7|        0|    3|       5|           1|       535|         3|       0001|
|00711050000187|2016-11-01 00:00:00| 2016-11|      0|        1|            2|     3|        1|    7|       4|           2|       173|         0|       0001|
|00951519000155|2017-01-01 00:00:00| 2017-01|      0|        0|            0|     1|        3|    5|       7|           5|       170|         0|       0001|
|00984383000180|2016-09-01 00:00:00| 2016-09|      0|        0|            1|     8|        5|    6|       6|           0|       000|         1|       0001|
|01013673000149|2017-02-01 00:00:00| 2017-02|      0|        0|            0|     2|        2|    4|       4|           0|       032|         2|       0001|
|01024580000110|2016-09-01 00:00:00| 2016-09|      0|        0|            0|     0|        8|    5|       8|           7|       000|         0|       0001|
|01163316000167|2017-01-01 00:00:00| 2017-01|      0|        1|            2|     0|        5|    1|       8|           7|       010|         3|       0001|
|01252815000120|2016-07-01 00:00:00| 2016-07|      0|        0|            0|     3|        2|    6|       5|           3|       370|         1|       0001|
|01358637000117|2017-05-01 00:00:00| 2017-05|      0|        0|            0|     1|        3|    0|       6|           1|       083|         1|       0001|
|01469354000142|2017-01-01 00:00:00| 2017-01|      0|        1|            1|     1|        4|    3|       4|           0|       000|         1|       0001|
|01689785000114|2017-02-01 00:00:00| 2017-02|      0|        0|            0|     7|        5|    9|       5|           5|       000|         2|       0001|
|01805386000171|2017-03-01 00:00:00| 2017-03|      0|        0|            0|     3|        5|    7|       0|           0|       049|         0|       0001|
|01836357001653|2017-04-01 00:00:00| 2017-04|      0|        1|            2|     1|        1|    4|       1|           0|       222|         0|       0016|
|01864042000133|2017-01-01 00:00:00| 2017-01|      0|        1|            1|     3|        0|    8|       6|           5|       000|         2|       0001|
|02026313000144|2016-10-01 00:00:00| 2016-10|      0|        0|            0|     3|        7|    9|       7|           5|       000|         2|       0001|
+--------------+-------------------+--------+-------+---------+-------------+------+---------+-----+--------+------------+----------+----------+-----------+
only showing top 20 rows